.title40 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.background-color {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.div334 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
}
.color-picker-icon {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow10 {
  height: 1.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.class-number,
.menu9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.menu9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--point-bg-blue);
  width: 6.5rem;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.search-input5 {
  height: 2.563rem;
  flex: 1;
  position: relative;
}
.layout-grid-icon {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.icon5 {
  height: 2.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-parent2,
.search5,
.title-bar3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search5 {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs);
  gap: var(--gap-10xs);
  min-width: 10.125rem;
}
.menu-parent2,
.title-bar3 {
  max-width: 100%;
}
.menu-parent2 {
  width: 22.75rem;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.title-bar3 {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.b248,
.b249 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}
.b249 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 3.25rem;
}
.parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-39xl) 0 0;
  gap: var(--gap-3xs);
}
.b250,
.b251 {
  position: relative;
  display: inline-block;
  min-width: 6rem;
}
.b251 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 6.875rem;
}
.parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.b252,
.b253 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}
.b253 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 4.938rem;
}
.parent14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 0;
  gap: var(--gap-3xs);
}
.b254,
.b255 {
  position: relative;
  display: inline-block;
  min-width: 6rem;
}
.b255 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 2.75rem;
}
.parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  gap: var(--gap-3xs);
}
.div335 {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 4.063rem;
}
.search-bar-icon {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow11 {
  height: 1.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.class-number1,
.menu10 {
  justify-content: flex-start;
}
.class-number1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.menu10 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xl);
  gap: var(--gap-7xs);
}
.date-info7,
.menu10,
.quiz-chapters {
  display: flex;
  align-items: flex-start;
}
.quiz-chapters {
  width: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.date-info7 {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.student-item-title,
.title-bar-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.title-bar-parent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.student-item-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 825px) {
  .title40 {
    font-size: var(--font-size-7xl);
  }
  .date-info7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 675px) {
  .title-bar3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .title40 {
    font-size: var(--font-size-lgi);
  }
  .div334 {
    font-size: var(--font-size-base);
  }
  .menu-parent2 {
    flex-wrap: wrap;
  }
  .b248 {
    font-size: var(--font-size-lg);
  }
  .b249 {
    font-size: var(--font-size-base);
  }
  .b250 {
    font-size: var(--font-size-lg);
  }
  .b251 {
    font-size: var(--font-size-base);
  }
  .b252 {
    font-size: var(--font-size-lg);
  }
  .b253 {
    font-size: var(--font-size-base);
  }
  .b254 {
    font-size: var(--font-size-lg);
  }
  .b255,
  .div335 {
    font-size: var(--font-size-base);
  }
}
