.title2,
.today {
  position: relative;
}
.title2 {
  margin: 0;
  align-self: stretch;
  height: 3rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.today {
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray);
}
.header-left {
  width: 14.313rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-icon5 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.lets-iconssetting-fill {
  height: 1.563rem;
  justify-content: flex-start;
  width: 1.563rem;
}
.courseheader,
.header-right,
.lets-iconssetting-fill {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-right {
  border-radius: var(--br-8xs);
  justify-content: flex-start;
  padding: var(--padding-8xs);
}
.courseheader {
  align-self: stretch;
  flex-shrink: 0;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.slider-handle-icon {
  height: 4.881rem;
  width: 3.906rem;
  position: relative;
}
.personicon {
  height: 6.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base-9) var(--padding-lg-7) var(--padding-base)
    var(--padding-lg-8);
  box-sizing: border-box;
}
.div5,
.div6,
.h2 {
  position: relative;
}
.h2 {
  margin: 0;
  width: 4.5rem;
  height: 2rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.div5,
.div6 {
  align-self: stretch;
}
.div5 {
  flex: 1;
}
.div6 {
  width: 3.5rem;
  display: inline-block;
}
.row-flow-layout {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.div7 {
  width: 5.063rem;
  height: 1.188rem;
  position: relative;
  display: inline-block;
}
.column-flow-layout {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-malgun-gothic);
}
.course-left,
.info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info {
  height: 6.875rem;
  flex: 1;
  flex-direction: column;
}
.course-left {
  height: -1rem;
  width: 16.938rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-mini);
}
.a,
.division {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a {
  margin: 0;
  height: 2rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.division {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-xs-5);
}
.group-icon {
  width: 1.25rem;
  height: 0.688rem;
  position: relative;
}
.couese-right,
.course-item,
.right-arrow {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.right-arrow {
  height: 1.688rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-8xs);
  box-sizing: border-box;
}
.couese-right,
.course-item {
  justify-content: space-between;
}
.couese-right {
  height: 6.875rem;
  width: 2.5rem;
  flex-direction: column;
  text-align: center;
}
.course-item {
  align-self: stretch;
  height: 0.25rem;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.vector-icon6 {
  height: 4.881rem;
  width: 3.906rem;
  position: relative;
}
.personicon1 {
  height: 6.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base-9) var(--padding-lg-7) var(--padding-base)
    var(--padding-lg-8);
  box-sizing: border-box;
}
.h21 {
  margin: 0;
  width: 4.5rem;
  height: 2rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.div8,
.div9 {
  align-self: stretch;
  position: relative;
}
.div8 {
  flex: 1;
}
.div9 {
  width: 3.5rem;
  display: inline-block;
}
.font-manager {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.div10 {
  width: 5.063rem;
  height: 1.188rem;
  position: relative;
  display: inline-block;
}
.symbol-library {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-malgun-gothic);
}
.course-left1,
.info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info1 {
  height: 6.875rem;
  flex: 1;
  flex-direction: column;
}
.course-left1 {
  height: -11.312rem;
  width: 16.938rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-mini);
}
.a1,
.division1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a1 {
  margin: 0;
  height: 2rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.division1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-xs-5);
}
.group-icon1 {
  width: 1.25rem;
  height: 0.688rem;
  position: relative;
}
.couese-right1,
.course-item1,
.right-arrow1 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.right-arrow1 {
  height: 1.688rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-8xs);
  box-sizing: border-box;
}
.couese-right1,
.course-item1 {
  justify-content: space-between;
}
.couese-right1 {
  height: 6.875rem;
  width: 2.5rem;
  flex-direction: column;
  text-align: center;
}
.course-item1 {
  align-self: stretch;
  height: -10.062rem;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.triangle-trinity-icon {
  height: 4.881rem;
  width: 3.906rem;
  position: relative;
}
.personicon2 {
  height: 6.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base-9) var(--padding-lg-7) var(--padding-base)
    var(--padding-lg-8);
  box-sizing: border-box;
}
.div11,
.h22 {
  position: relative;
}
.h22 {
  margin: 0;
  width: 4.5rem;
  height: 2rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.div11 {
  flex: 1;
}
.div11,
.div12,
.parent {
  align-self: stretch;
}
.div12 {
  width: 3.5rem;
  position: relative;
  display: inline-block;
}
.parent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.div13 {
  width: 5.063rem;
  height: 1.188rem;
  position: relative;
  display: inline-block;
}
.oval-options {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-malgun-gothic);
}
.course-left2,
.info2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info2 {
  height: 6.875rem;
  flex: 1;
  flex-direction: column;
}
.course-left2 {
  height: -21.625rem;
  width: 16.938rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-mini);
}
.a2,
.division2 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a2 {
  margin: 0;
  height: 2rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.division2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-xs-5);
}
.group-icon2 {
  width: 1.25rem;
  height: 0.688rem;
  position: relative;
}
.couese-right2,
.right-arrow2 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-arrow2 {
  height: 1.688rem;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-8xs);
  box-sizing: border-box;
}
.couese-right2 {
  height: 6.875rem;
  width: 2.5rem;
  justify-content: space-between;
  text-align: center;
}
.course-item2,
.courselist,
.scrollframe {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.course-item2 {
  height: -20.375rem;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.courselist,
.scrollframe {
  flex-direction: column;
  justify-content: flex-start;
}
.scrollframe {
  overflow-y: auto;
  gap: var(--gap-mini);
  min-height: 49.938rem;
}
.courselist {
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.course,
.course-parent {
  border-radius: var(--br-11xl);
  max-width: 100%;
}
.course {
  flex: 0.9439;
  background-color: var(--color-white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-16xl) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 23.375rem;
}
.course-parent {
  flex: 1;
  background-color: var(--point-bg-blue);
  overflow: hidden;
  row-gap: 20px;
  text-align: left;
  font-size: 2.25rem;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.course-parent,
.mainpage,
.mainpage-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mainpage-inner {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: calc(100% - 270px);
}
.mainpage {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .title2 {
    font-size: 1.813rem;
  }
  .course {
    flex: 1;
    padding-top: 2.438rem;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .course-parent {
    flex-wrap: wrap;
  }
  .mainpage-inner {
    max-width: 100%;
  }
  .mainpage {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .course {
    gap: 0.938rem 1.875rem;
    padding-top: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title2 {
    font-size: var(--font-size-3xl);
  }
  .today {
    font-size: var(--font-size-base);
  }
  .courseheader {
    flex-wrap: wrap;
  }
  .a,
  .a1,
  .a2,
  .h2,
  .h21,
  .h22 {
    font-size: var(--font-size-lgi);
  }
  .course {
    min-width: 100%;
  }
}
