.logoIcon {
  height: 2.889rem;
  width: 8.333rem;
  position: relative;
  object-fit: cover;
}
.perspectiveDistortion {
  height: 2.889rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-41xl);
  box-sizing: border-box;
}
.vectorIcon {
  height: 1.389rem;
  width: 1.389rem;
  position: relative;
}
.bitcoinIconshomeOutline {
  height: 1.667rem;
  width: 1.667rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home {
  align-self: stretch;
  position: relative;
}
.homeWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0rem 0rem;
}
.navitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.vectorIcon1 {
  width: 1.389rem;
  height: 1.389rem;
  position: relative;
}
.fluentlibrary20Regular {
  height: 1.667rem;
  width: 1.667rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 4.444rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0rem 0rem;
}
.mainNav {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-38xl-5);
  gap: var(--gap-xl);
}
.b {
  position: relative;
}
.line {
  height: 1.5rem;
  width: 0.111rem;
  position: relative;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.a {
  position: relative;
  display: inline-block;
  min-width: 0.833rem;
}
.courseName {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.vectorIcon3 {
  height: 1.389rem;
  width: 0.728rem;
  position: relative;
}
.navitem3 {
  flex: 1;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.navitemWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-mid);
}
.groupIcon {
  width: 1.389rem;
  height: 1.233rem;
  position: relative;
}
.groupIcon1 {
  height: 1.389rem;
  width: 1.078rem;
  position: relative;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 2.222rem;
}
.vectorIcon4 {
  height: 1.389rem;
  width: 1.306rem;
  position: relative;
}
.courseNav {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-21xl-5) 0rem;
  gap: var(--gap-xl);
}
.nav {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) 0rem var(--padding-159xl);
  gap: var(--gap-6xl);
}
.b1 {
  position: relative;
  display: inline-block;
  min-width: 2.667rem;
}
.wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-base);
}
.div5 {
  position: relative;
  display: inline-block;
  min-width: 4.444rem;
}
.linkStyle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.861rem 0rem;
  gap: var(--gap-3xs);
}
.personicon {
  width: 2.778rem;
  height: 2.778rem;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
}
.personiconWrapper {
  height: 3.694rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0rem 0rem;
  box-sizing: border-box;
}
.info {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0rem;
  gap: var(--gap-mini);
}
.iconStyle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-43xl) 0rem var(--padding-43xl-5);
  font-size: var(--font-size-base);
}
.collepseBtnIcon {
  height: 1.667rem;
  width: 3.317rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.logOut {
  width: 10.833rem;
  background-color: var(--color-darkgray-100);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0rem;
  box-sizing: border-box;
}
.bottom {
  align-self: stretch;
  height: 1.667rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.sidebars {
  width: 15rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) 0rem var(--padding-3xs);
  box-sizing: border-box;
}
.b2 {
  position: relative;
  display: inline-block;
  min-width: 5.389rem;
}
.div7 {
  position: relative;
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 1.167rem;
}
.title {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-11xs) 0rem 0rem;
  gap: var(--gap-8xs);
}
.div8 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 1.5rem;
  max-width: 100%;
}
.div9 {
  width: 6.944rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div10 {
  width: 6.944rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.colName {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.b3 {
  position: relative;
  display: inline-block;
  min-width: 3rem;
}
.submit {
  border-radius: var(--br-3xs);
  background-color: var(--warning-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
}
.p {
  margin: 0;
}
.div12 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 3.778rem;
  max-width: 100%;
}
.div14 {
  position: relative;
  display: inline-block;
  min-width: 6.944rem;
  white-space: nowrap;
}
.listRow {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.listItems {
  align-self: stretch;
  height: 17.667rem;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.yet {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.title1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-11xs) 0rem 0rem;
  gap: var(--gap-8xs);
  color: var(--color-black);
}
.b7 {
  position: relative;
  display: inline-block;
  min-width: 4.389rem;
}
.submit3 {
  border-radius: var(--br-3xs);
  background-color: var(--point-green);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0.861rem;
  white-space: nowrap;
}
.b10 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.submit6 {
  height: 2.444rem;
  width: 6.111rem;
  border-radius: var(--br-3xs);
  background-color: var(--point-green);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0.861rem;
  box-sizing: border-box;
  white-space: nowrap;
}
.div41 {
  height: 4rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 15.333rem;
  max-width: 100%;
}
.div42 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div43 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.div44 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.listRow6 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
.listItems1 {
  align-self: stretch;
  height: 17.667rem;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--color-black);
}
.done {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  color: var(--color-dimgray-100);
}
.list {
  align-self: stretch;
  background-color: var(--point-bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.content {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0rem 0rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0rem 0rem;
  box-sizing: border-box;
  max-width: calc(100% - 270px);
}
.assignmentlist {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-xl) 0rem 0rem;
  box-sizing: border-box;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .list {
    gap: 1.389rem 2.778rem;
  }
}
@media screen and (max-width: 650px) {
  .perspectiveDistortion {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .home {
    font-size: var(--font-size-base);
  }

  .div1 {
    font-size: var(--font-size-base);
  }

  .mainNav {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b {
    font-size: var(--font-size-base);
  }

  .a {
    font-size: var(--font-size-base);
  }

  .div3 {
    font-size: var(--font-size-base);
  }

  .nav {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
  }

  .iconStyle {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .sidebars {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-97xl);
    box-sizing: border-box;
  }

  .sidebars {
    display: none;
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .listItems {
    height: auto;
  }

  .listItems1 {
    height: auto;
  }

  .list {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .contentWrapper {
    max-width: 100%;
  }

  .assignmentlist {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
