.logoIcon {
  width: 11.111rem;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.logo {
  align-self: stretch;
  height: 5.556rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-31xl);
  box-sizing: border-box;
}
.left {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 26rem;
  max-width: 100%;
}
.schoolimgIcon {
  align-self: stretch;
  height: 56.889rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.right {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 26rem;
  max-width: 100%;
}
.loginPage {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
  row-gap: 20px;
}

@media screen and (max-width: 650px) {
  .logo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .left {
    min-width: 100%;
  }

  .right {
    min-width: 100%;
  }
}
