.content {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0rem 0rem;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.padding {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
  box-sizing: border-box;
  max-width: calc(100% - 270px);
}
.profstudentquizinfo {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}

@media screen and (max-width: 450px) {
  .padding {
    max-width: 100%;
  }

  .profstudentquizinfo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
