.content {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0rem 0rem;
  box-sizing: border-box;
  max-width: calc(100% - 270px);
}
.quizlist {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-xl) 0rem 0rem;
  box-sizing: border-box;
  letter-spacing: normal;
}

@media screen and (max-width: 725px) {
  .contentWrapper {
    max-width: 100%;
  }

  .quizlist {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
