.h38 {
  margin: 0;
  width: 8.188rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.vector-icon74 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}

.heroicons-outlinex27,
.top7 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroicons-outlinex27 {
  height: 1.563rem;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 1.563rem;
}

.top7 {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-11xl) 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.b78,
.minutes {
  position: relative;
  display: flex;
  align-items: center;
}

.b78 {
  width: 6rem;
}

.minutes {
  align-self: stretch;
  height: 1.688rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  white-space: pre-wrap;
}

.deadline1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-101xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 12.875rem;
}

.b79,
.b80 {
  position: relative;
}

.b79 {
  align-self: stretch;
}

.b80 {
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 3.188rem;
}

.deadline,
.time1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xs);
}

.time1 {
  flex: 0.4873;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-202xl) 0 0;
  box-sizing: border-box;
  min-width: 12.875rem;
}

.deadline {
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
}

.b81 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}

.p25,
.p26,
.p27,
.p28,
.p29,
.p30,
.p31,
.p32,
.p33,
.p34,
.p35,
.p36 {
  margin: 0;
}

.b82 {
  align-self: stretch;
  height: 29.563rem;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
}

.discription,
.scroll3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}

.discription {
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-3xs);
}

.scroll3 {
  overflow-y: auto;
  gap: var(--gap-6xl);
}

.text3 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}

.nav-btn4 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.4667;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
}

.nav-btn4:hover,
.nav-btn5:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}

.text4 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}

.nav-btn5 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-lgi);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
  white-space: nowrap;
}

.nav-btn5:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}

.bottom3,
.quizinfomodal {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.bottom3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-320xl);
  gap: var(--gap-mini);
}

.quizinfomodal {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
}

@media screen and (max-width: 650px) {
  .bottom3 {
    padding-left: var(--padding-150xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 625px) {

  .deadline1,
  .time1 {
    flex: 1;
  }

  .deadline {
    flex-wrap: wrap;
  }

  .nav-btn4,
  .nav-btn5 {
    flex: 1;
  }

  .bottom3 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .b78 {
    font-size: var(--font-size-lg);
  }

  .minutes {
    font-size: var(--font-size-base);
  }

  .deadline1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b79 {
    font-size: var(--font-size-lg);
  }

  .b80 {
    font-size: var(--font-size-base);
  }

  .time1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b81 {
    font-size: var(--font-size-lg);
  }

  .b82 {
    font-size: var(--font-size-base);
  }

  .text3 {
    font-size: var(--font-size-lgi);
  }

  .bottom3,
  .quizinfomodal {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .quizinfomodal {
    padding-right: var(--padding-xl);
  }
}