.modalContainer{
  background-color: white;
  width: 40%;
  position: relative;
  top: 5%;
  left: 30%;
  padding: var(--padding-28xl);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-21xl);
  height: 90%;
}

.top{
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: var(--font-size-13xl);
  font-weight: bold;
}

.gap{
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
  flex-grow: 1;
}

.contents{
  display: flex;
  justify-content: space-between;
}

.bottom{
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-xl);
}

.closeBtn, .goBtn{
  border: none !important;
  font-size: var(--font-size-xl) !important;
  font-weight: bold !important;
  height: fit-content;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.closeBtn{
  background-color: #aaa !important;
}

.closeBtn2{
  padding: 5px !important;
}

.goBtn{
  background-color: var(--point-blue) !important;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: var(--font-size-xl);
  padding: 5px 10px;
  font-weight: bold;
}

.yellow{
  background-color: var(--point-yellow);
}

.blue{
  background-color: var(--point-blue);
}

.green{
  background-color: var(--point-green) !important;
}

.red{
  background-color: var(--point-red)!important;
}

.question {
  font-weight: bold;
  word-wrap: break-word;
  width: 100%;
  font-size: var(--font-size-7xl) !important;
  background-color: var(--point-bg-blue);
  padding: var(--padding-mini);
  border-radius: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}

.option{
  border: 1px solid #aaa;
  padding: 10px;
  display: flex;
  gap: var(--gap-5xs);
  align-items: center;
  border-radius: 5px;
  font-size: var(--font-size-xl);
}

.option:hover{
  background-color: #ccc;
  cursor: pointer;
}

.commentWriter{
  font-size: var(--font-size-base) !important;
  font-weight: bold;
  color: var(--bs-blue);
}

.commentContent{
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 1600px) {
  .modalContainer{
    padding: var(--padding-4xl);
    gap: var(--gap-xl);
  }
}