.b83,
.quiz-limited-person {
  position: relative;
  display: flex;
  align-items: center;
}
.b83 {
  width: 6rem;
}
.quiz-limited-person {
  align-self: stretch;
  height: 1.688rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  white-space: pre-wrap;
}
.deadline3 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-101xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 12.875rem;
}
.b84,
.b85 {
  position: relative;
}
.b84 {
  align-self: stretch;
}
.b85 {
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 3.188rem;
}
.deadline2,
.time2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.time2 {
  flex: 0.4873;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-202xl) 0 0;
  box-sizing: border-box;
  min-width: 12.875rem;
}
.deadline2 {
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.b86 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}
.p37,
.p38,
.p39,
.p40,
.p41,
.p42,
.p43,
.p44,
.p45,
.p46,
.p47,
.p48 {
  margin: 0;
}
.b87 {
  align-self: stretch;
  height: 29.563rem;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
}
.discription1,
.scroll4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.discription1 {
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-3xs);
}
.scroll4 {
  overflow-y: auto;
  gap: var(--gap-6xl);
}
.bottom-navigation-bar {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.nav-btn6 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.4667;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
}
.nav-btn6:hover,
.nav-btn7:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.text5 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.nav-btn7 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-lgi);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
  white-space: nowrap;
}
.nav-btn7:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}
.bottom4,
.profeditquizmodal {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.bottom4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-320xl);
  gap: var(--gap-mini);
}
.profeditquizmodal {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
}
@media screen and (max-width: 650px) {
  .bottom4 {
    padding-left: var(--padding-150xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 625px) {
  .deadline3,
  .time2 {
    flex: 1;
  }
  .deadline2 {
    flex-wrap: wrap;
  }
  .nav-btn6,
  .nav-btn7 {
    flex: 1;
  }
  .bottom4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .b83 {
    font-size: var(--font-size-lg);
  }
  .quiz-limited-person {
    font-size: var(--font-size-base);
  }
  .deadline3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .b84 {
    font-size: var(--font-size-lg);
  }
  .b85 {
    font-size: var(--font-size-base);
  }
  .time2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .b86 {
    font-size: var(--font-size-lg);
  }
  .b87 {
    font-size: var(--font-size-base);
  }
  .bottom-navigation-bar {
    font-size: var(--font-size-lgi);
  }
  .bottom4,
  .profeditquizmodal {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .profeditquizmodal {
    padding-right: var(--padding-xl);
  }
}
