.h33 {
  margin: 0;
  width: 11.938rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.vector-icon28 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}

.header4,
.heroicons-outlinex22 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroicons-outlinex22 {
  height: 1.563rem;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 1.563rem;
}

.header4 {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-11xl) 0;
  gap: var(--gap-xl);
}

.b128,
.b129 {
  position: relative;
}

.b128 {
  display: inline-block;
  min-width: 4.125rem;
}

.b129 {
  height: 2.938rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  min-width: 3.75rem;
}

.owner1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-76xl) 0 0;
  gap: var(--gap-3xs);
}

.b130,
.b131 {
  position: relative;
}

.b130 {
  display: inline-block;
  min-width: 4.125rem;
}

.b131 {
  height: 2.938rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  min-width: 6.875rem;
}

.date10 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-32xl) 0 0;
  gap: var(--gap-3xs);
}

.b132,
.b133 {
  position: relative;
}

.b132 {
  display: inline-block;
  min-width: 4.125rem;
}

.b133 {
  height: 2.938rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  min-width: 3.688rem;
}

.view4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-76xl) 0 0;
  gap: var(--gap-3xs);
}

.b134,
.b135 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}

.b135 {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 2.5rem;
}

.status4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-16xl);
  background-color: var(--point-yellow);
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status4:hover {
  background-color: var(--color-darkgoldenrod);
}

.answer3,
.info7,
.status4 {
  overflow: hidden;
  display: flex;
}

.answer3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl) 0 0;
  gap: var(--gap-3xs);
}

.info7 {
  margin: 0;
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
  row-gap: 20px;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}

.b136 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}

.blank-line,
.blank-line1,
.blank-line2,
.p89,
.p90,
.p91,
.p92,
.p93,
.p94,
.p95,
.p96,
.p97,
.p98 {
  margin: 0;
}

.b137 {
  align-self: stretch;
  height: 32.75rem;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
}

.discription2,
.scroll8 {
  align-self: stretch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.discription2 {
  flex-shrink: 0;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}

.scroll8 {
  padding: 0 0 var(--padding-32xl);
  gap: var(--gap-6xl);
}

.text13 {
  width: 3rem;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}

.nav-btn16 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.5052;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
}

.nav-btn16:hover,
.nav-btn17:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}

.text14 {
  width: 6rem;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}

.nav-btn17 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 5.875rem;
}

.nav-btn17:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}

.btunsection,
.noticemodal {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.btunsection {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 21.5rem;
  gap: var(--gap-3xs);
}

.noticemodal {
  background-color: white;
  width: 40%;
  position: relative;
  top: 10%;
  left: 30%;
  padding: var(--padding-28xl);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-21xl);
  height: 80%;
}

@media screen and (max-width: 725px) {
  .scroll8 {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 650px) {
  .info7 {
    flex-wrap: wrap;
  }

  .nav-btn16,
  .nav-btn17 {
    flex: 1;
  }

  .btunsection {
    flex-wrap: wrap;
    padding-left: 10.75rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .b128 {
    font-size: var(--font-size-lg);
  }

  .b129 {
    font-size: var(--font-size-base);
  }

  .b130 {
    font-size: var(--font-size-lg);
  }

  .b131 {
    font-size: var(--font-size-base);
  }

  .b132 {
    font-size: var(--font-size-lg);
  }

  .b133 {
    font-size: var(--font-size-base);
  }

  .b134 {
    font-size: var(--font-size-lg);
  }

  .b135 {
    font-size: var(--font-size-base);
  }

  .b136 {
    font-size: var(--font-size-lg);
  }

  .b137 {
    font-size: var(--font-size-base);
  }

  .text13,
  .text14 {
    font-size: var(--font-size-lgi);
  }

  .btunsection,
  .noticemodal {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .noticemodal {
    padding-right: var(--padding-xl);
  }
}