<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="../css/bootstrap.min.css" rel="stylesheet">-->

    <!--저번 프로젝트 부분-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>

    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/new-main-demo.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <!-- fullcalendar 언어 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js"></script>

    <!--  <script src="/js/main-add-class.js"></script>-->
    <script src="/js/main-add-community.js"></script>
    <script src="/js/main-add-homework.js"></script>
    <!--여기까지 -->
</head>
<body>
<div class="container" style="max-width: 600px">
<!--    <div class="py-5 text-center">-->
<!--        <h2>홈 화면</h2> </div>-->
<!--    <h4 class="mb-3" th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>-->
<!--    <hr class="my-4">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <button class="w-100 btn btn-secondary btn-lg" type="button"-->
<!--                    th:onclick="|location.href='@{/items}'|">-->
<!--                관리-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <button class="w-100 btn btn-dark btn-lg" type="submit">-->
<!--                    로그아웃-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr class="my-4">-->
<!-- 저번 프로젝트 부분-->
    <div class="nav">
        <img src="/img/국영문시그니쳐.png" alt="logo" class="logo" onclick="location.href = '/'"/>
        <ul>
            <li>
                <button onclick="location.href='/'">
                    <i class="bi bi-house"></i>HOME
                </button>
            </li>
            <li>
                <button onclick="location.href='/lib/upload'">
                    <i class="bi bi-folder"></i>자료실
                </button>
            </li>
            <li>
                <button onclick="location.href='homeworks'">
                    <i class="bi bi-people"></i>커뮤니티
                </button>
            </li>
            <li>
                <button onclick="location.href='#'" id="gptButton">
                    <i class="bi bi-chat"></i>메시지
                </button>
            </li>
            <li>
                <button onclick="location.href='/quizHome'">
                    <i class="bi bi-pc-display-horizontal"></i>한성 MOOC
                </button>
            </li>
            <li>
                <button onclick="location.href='/developer'">
                    <i class="bi bi-gear"></i>setting
                </button>
            </li>
        </ul>
    </div>

    <div class="section">
        <h2 class="title">HOME</h2>
        <div class="classroom">
            <h3>나의 강좌</h3>
            <table>
                <tr>
                    <th></th>
                    <th>과목명</th>
                    <th>분반</th>
                    <th>교수명</th>
                </tr>
                <tr th:each="enrollment : ${enrollment}" th:onclick="|location.href='@{/{id}/edit (id=${enrollment.id})}'|">
                    <td><img src="/img/sangsangbugi.png" alt="" /></td>
                    <td th:text="${enrollment.lecture.name}"></td>
                    <td th:text="${enrollment.lecture.division}"></td>
                    <td th:text="${enrollment.lecture.professor.member.name}"></td>
                </tr>
            </table>

        </div>

        <div class="recommendation">
            <div class="reco-top">
                <h3>추천 커뮤니티</h3>
                <button onclick="addCommunity()"><i class="bi bi-arrow-counterclockwise"></i></i></button>
            </div>
            <div class="reco-list">

            </div>
        </div>

    </div>

    <div class="info-bar">
            <div class="userInfo">
                <div class="info-bar-top">
                    <h3>학생 정보</h3>
                    <button><i class="bi bi-pen"></i></button>
                    <form th:action="@{/logout}" method="post">
                        <button class="w-100 btn btn-dark btn-lg" type="submit">로그아웃</button>
                    </form>
                </div>
                <img src="/img/sangsangbugi.png" alt="profile" class="profile"/>
                <h4 class="userName" th:text="${member.name}" ></h4>
                <h5 class="track" th:text="${track}"></h5>
            </div>

        <div id="calendar"></div>

        <div class="homework">
            <h3>과제</h3>
            <div class="get-homework">

            </div>
        </div>
    </div>
</div>
<script src="/js/calendar.js"></script>
<!--여기까지 -->
</div> <!-- /container -->
</body>
</html>