.b {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 110px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.dateInfo {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 212px;
}
.b4 {
  position: relative;
}
.b5 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  flex-shrink: 0;
  min-width: 110px;
}
.date {
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 174px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.submitInfo {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 100%;
  gap: var(--gap-0);
}
.dateInfoParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-mini);
  gap: var(--gap-6xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b6 {
  position: relative;
  display: inline-block;
  min-width: 44px;
}
.p {
  margin: 0;
}
.b7 {
  align-self: stretch;
  height: 219px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 26.67px;
  display: inline-block;
  color: var(--color-black);
  flex-shrink: 0;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-mini);
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0px 0px;
}
.b8 {
  position: relative;
  display: inline-block;
  min-width: 97px;
}
.upload {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  white-space: nowrap;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.top {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
}
.l {
  height: 15px;
  width: 11px;
  position: relative;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt {
  position: relative;
  display: inline-block;
  min-width: 128px;
}
.fileItem {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 128px;
  max-width: 100%;
}
.lParent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  min-width: 386px;
  max-width: 100%;
}
.vectorIcon {
  height: 13px;
  width: 13px;
  position: relative;
}
.heroiconsOutlinex {
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 25px;
}
.fileList {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.txt2 {
  position: relative;
}
.topParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
.txt3 {
  height: 27px;
  width: 128px;
  position: relative;
  display: inline-block;
}
.fileList3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b9 {
  align-self: stretch;
  width: 44px;
  position: relative;
  display: inline-block;
}
.title1 {
  align-self: stretch;
  height: 45px;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.commentowner {
  height: 47px;
  width: 92px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.div1 {
  height: 21px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  min-width: 77px;
}
.commentitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) var(--padding-405xl) var(--padding-11xs-5) 0px;
  gap: var(--gap-3xs);
}
.commentlist {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.comment {
  align-self: stretch;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
}
.fileListParent {
  align-self: stretch;
  height: 111px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 64px;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  debug_commit: f6aba90;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.scroll {
  align-self: stretch;
  height: 649px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 195px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-malgun-gothic);
}
.answer {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) var(--padding-3xs);
  cursor: pointer;
}
.text {
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.navBtn {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-28xl);
}
.text1 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.navBtn1 {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  border: 1px solid var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi);
  white-space: nowrap;
  color: var(--color-white);
}
.feedbackPanel {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.assignmentmodal {
  width: 744px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .submitInfo {
    flex-wrap: wrap;
  }

  .commentitem {
    padding-right: var(--padding-193xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .b {
    font-size: var(--font-size-lg);
  }

  .b1 {
    font-size: var(--font-size-base);
  }

  .dateInfo {
    gap: 212px 106px;
  }

  .b4 {
    font-size: var(--font-size-lg);
  }

  .b5 {
    font-size: var(--font-size-base);
  }

  .date {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b6 {
    font-size: var(--font-size-lg);
  }

  .b7 {
    font-size: var(--font-size-base);
  }

  .top {
    flex-wrap: wrap;
  }

  .txt {
    font-size: var(--font-size-base);
  }

  .txt2 {
    font-size: var(--font-size-base);
  }

  .txt3 {
    font-size: var(--font-size-base);
  }

  .b9 {
    font-size: var(--font-size-lg);
  }

  .div {
    font-size: var(--font-size-base);
  }

  .commentitem {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .comment {
    height: auto;
  }

  .scroll {
    padding-bottom: 83px;
    box-sizing: border-box;
  }

  .text {
    font-size: var(--font-size-lgi);
  }

  .assignmentmodal {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dateInfo {
    flex-wrap: wrap;
  }

  .lParent {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .fileListParent {
    height: auto;
  }

  .scroll {
    height: auto;
  }
}
