.div {
  width: 2.833rem;
  position: relative;
  line-height: 0.815rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 2.833rem;
}
.div1 {
  width: 3.167rem;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 1.593rem;
  color: var(--color-black);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 3.167rem;
}
.vectorIcon {
  width: 0.778rem;
  height: 0.778rem;
  position: relative;
}
.fluentEmojiHighContrastred {
  height: 0.778rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0.778rem;
}
.dataCollector {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 1.5rem;
}
.grade {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem var(--padding-5xs);
  gap: var(--gap-8xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.aveScore {
  width: 4.222rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
  font-family: var(--font-roboto);
}

@media screen and (max-width: 450px) {
  .div1 {
    font-size: var(--font-size-lgi);
  }
}
