.b {
  position: relative;
  display: inline-block;
  min-width: 2.222rem;
}
.div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .b {
    font-size: var(--font-size-base);
  }
}
