.title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 3.333rem;
  white-space: nowrap;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0rem 0rem;
}
.div {
  position: relative;
  line-height: 1.074rem;
  display: inline-block;
  min-width: 1.778rem;
  white-space: nowrap;
}
.vectorIcon {
  width: 0.722rem;
  height: 0.556rem;
  position: relative;
}
.bxsdownArrow {
  height: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.menu {
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-5xs);
}
.searchInput {
  height: 2.278rem;
  flex: 1;
  position: relative;
}
.foregroundIcon {
  height: 1.389rem;
  width: 1.389rem;
  position: relative;
}
.icon {
  height: 2.278rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs);
  gap: var(--gap-10xs);
}
.symbolInstance {
  width: 19.833rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.titleBar {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) 0rem;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.text {
  position: relative;
  display: inline-block;
  min-width: 3.111rem;
}
.tabItem2 {
  flex: 1;
  border-bottom: 4px solid var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-mini);
}
.text1 {
  position: relative;
  display: inline-block;
  min-width: 3.389rem;
  white-space: nowrap;
}
.tabItem21 {
  flex: 1;
  border-bottom: 4px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-mini);
}
.text2 {
  position: relative;
  display: inline-block;
  min-width: 2.333rem;
}
.tabItem22 {
  border-bottom: 4px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-mini);
}
.background {
  width: 18.889rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.titleBarParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.contentInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-11xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
