.title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0rem 0rem;
}
.div {
  position: relative;
  line-height: 1.371rem;
  display: inline-block;
  min-width: 2.222rem;
}
.vectorIcon {
  width: 0.722rem;
  height: 0.556rem;
  position: relative;
}
.bxsdownArrow {
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.bxsdownArrowWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0rem 0rem;
}
.menu {
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
  gap: var(--gap-6xs);
}
.searchInput {
  height: 2.278rem;
  flex: 1;
  position: relative;
}
.vectorIcon1 {
  height: 1.389rem;
  width: 1.389rem;
  position: relative;
}
.icon {
  height: 2.278rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs);
  gap: var(--gap-10xs);
  min-width: 9rem;
}
.menuParent {
  width: 20.222rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.titleBar {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) 0rem;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.b {
  position: relative;
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 2.833rem;
}
.date {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 11.333rem;
  max-width: 15.111rem;
}
.b4 {
  position: relative;
  display: inline-block;
  min-width: 4.111rem;
}
.b5 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 1.333rem;
}
.b6 {
  position: relative;
  display: inline-block;
  min-width: 3.667rem;
}
.b7 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 2.667rem;
}
.dateInfo {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-malgun-gothic);
}
.titleBarParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.contentInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .titleBar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 650px) {
  .title {
    font-size: var(--font-size-lgi);
  }

  .div {
    font-size: var(--font-size-base);
  }

  .menuParent {
    flex-wrap: wrap;
  }

  .b {
    font-size: var(--font-size-lg);
  }

  .b1 {
    font-size: var(--font-size-base);
  }

  .b4 {
    font-size: var(--font-size-lg);
  }

  .b5 {
    font-size: var(--font-size-base);
  }

  .b6 {
    font-size: var(--font-size-lg);
  }

  .b7 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-7xl);
  }
}
