.div {
  position: relative;
  display: inline-block;
  min-width: 4.889rem;
}
.myScore {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem var(--padding-mid) 0rem var(--padding-mid-5);
}
.div1 {
  position: relative;
  font-size: var(--font-size-31xl);
  display: inline-block;
  min-width: 6.833rem;
}
.time {
  align-self: stretch;
  background-color: var(--blue4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xl);
}
.numberIcon {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  top: 0.667rem;
  left: 1.389rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon1 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  top: 0.667rem;
  left: 4.167rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon2 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  top: 0.667rem;
  left: calc(50% - 25px);
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon3 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  top: 0.667rem;
  right: 4.167rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon4 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  top: 0.667rem;
  right: 1.389rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon5 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  bottom: 0.667rem;
  left: 1.389rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon6 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  bottom: 0.667rem;
  left: 4.167rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon7 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  bottom: 0.667rem;
  left: calc(50% - 25px);
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon8 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  right: 4.167rem;
  bottom: 0.667rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numberIcon9 {
  height: 2.778rem;
  width: 2.778rem;
  position: absolute;
  margin: 0 !important;
  right: 1.389rem;
  bottom: 0.667rem;
  overflow: hidden;
  flex-shrink: 0;
}
.navigator {
  align-self: stretch;
  height: 6.889rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
}
.infopanelTitle {
  height: 22.444rem;
  flex: 1;
  position: relative;
  display: inline-block;
}
.notice {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-7xl);
}
.infoPanel {
  width: 16.667rem;
  border-radius: 0px var(--br-xl) var(--br-xl) 0px;
  background-color: var(--point-bg-blue);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-81xl) 0rem;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 16.667rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .div {
    font-size: var(--font-size-base);
  }

  .div1 {
    font-size: var(--font-size-11xl);
  }

  .infopanelTitle {
    font-size: var(--font-size-base);
  }

  .infoPanel {
    gap: 1.389rem 2.778rem;
  }
}
@media screen and (max-width: 650px) {
  .div1 {
    font-size: var(--font-size-21xl);
  }

  .infoPanel {
    flex: 1;
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .infoPanel {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
