.b {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.submit {
  height: 2.444rem;
  width: 6.111rem;
  border-radius: var(--br-3xs);
  background-color: var(--warning-red);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
  box-sizing: border-box;
}
.p {
  margin: 0;
}
.div {
  height: 4rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 15.333rem;
  max-width: 100%;
}
.div1 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div2 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.div3 {
  height: 1.333rem;
  width: 6.944rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.listRow {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
