.eClass {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.p {
  margin: 0;
}
.div {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  color: var(--color-gray-200);
  text-align: center;
}
.title {
  width: 23.333rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-11xl) 0rem;
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-height: 12.722rem;
  max-width: 100%;
}
.id1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 1.333rem;
}
.enterYourId {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 5.278rem;
}
.input {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-7xl);
  white-space: nowrap;
}
.id {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.password1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 5.722rem;
}
.enterYourPassword {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-700);
  text-align: left;
}
.iconParkOutlinecheckOne {
  height: 1.111rem;
  width: 1.111rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.id2 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.saveid {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.div1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-200);
  text-align: left;
}
.idcheck {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xs) 0rem;
  gap: var(--gap-xl);
}
.signIn {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.5rem;
}
.creativeHUName {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl);
  white-space: nowrap;
}
.loginform {
  margin: 0;
  width: 23.333rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 3.889rem;
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 5.444rem;
}
.div2 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0rem var(--padding-96xl);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  min-height: 12.722rem;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.mid {
  align-self: stretch;
  height: 51.333rem;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-61xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .eClass {
    font-size: var(--font-size-13xl);
  }

  .mid {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .eClass {
    font-size: var(--font-size-5xl);
  }

  .id1 {
    font-size: var(--font-size-lgi);
  }

  .password1 {
    font-size: var(--font-size-lgi);
  }

  .idcheck {
    flex-wrap: wrap;
  }

  .div2 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .mid {
    height: auto;
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
