.b {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.quizLimitedPerson {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  white-space: pre-wrap;
}
.deadline1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-101xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 206px;
}
.b2 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 51px;
}
.time {
  flex: 0.4873;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-202xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 206px;
}
.deadline {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.b3 {
  position: relative;
  display: inline-block;
  min-width: 44px;
}
.p {
  margin: 0;
}
.b4 {
  align-self: stretch;
  height: 473px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
}
.discription {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-malgun-gothic);
}
.scroll {
  align-self: stretch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-malgun-gothic);
}
.bottomNavigationBar {
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.navBtn {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-28xl);
  min-width: 94px;
}
.text {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.navBtn1 {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  border: 1px solid var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-lgi);
  white-space: nowrap;
  color: var(--color-white);
}
.bottom {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 0px var(--padding-320xl);
  gap: var(--gap-mini);
}
.profeditquizmodal {
  width: 744px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .bottom {
    padding-left: var(--padding-150xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .deadline1 {
    flex: 1;
  }

  .time {
    flex: 1;
  }

  .deadline {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-lg);
  }

  .quizLimitedPerson {
    font-size: var(--font-size-base);
  }

  .deadline1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b2 {
    font-size: var(--font-size-base);
  }

  .time {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .b3 {
    font-size: var(--font-size-lg);
  }

  .b4 {
    font-size: var(--font-size-base);
  }

  .bottomNavigationBar {
    font-size: var(--font-size-lgi);
  }

  .bottom {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .profeditquizmodal {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
