.b {
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray-100);
  text-align: left;
  min-width: 66px;
}
.b1 {
  height: 47px;
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  min-width: 80px;
}
.owner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-25xl) 0px 0px;
  gap: var(--gap-3xs);
}
.b3 {
  height: 47px;
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  min-width: 110px;
}
.date {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) 0px 0px;
  gap: var(--gap-3xs);
}
.b5 {
  height: 47px;
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  min-width: 59px;
}
.view {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-39xl) 0px 0px;
  gap: var(--gap-3xs);
}
.b7 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  min-width: 40px;
}
.status {
  border-radius: var(--br-3xs);
  background-color: var(--point-green);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.b8 {
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-darkslategray-100);
  text-align: left;
  min-width: 66px;
}
.icroundLockIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.descriptionSegment {
  height: 86px;
  width: 148px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-29xl) var(--padding-38xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.info {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  debug_commit: f6aba90;
}
.b9 {
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray-100);
  text-align: left;
  min-width: 44px;
}
.p {
  margin: 0;
}
.b10 {
  align-self: stretch;
  height: 219px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 26.67px;
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
}
.submitFile {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.title {
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray-100);
  text-align: left;
  min-width: 96px;
}
.b11 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-white);
  text-align: left;
  min-width: 97px;
}
.upload {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  white-space: nowrap;
}
.titleParent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-dimgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px var(--padding-3xs);
  gap: var(--gap-xl);
}
.l {
  height: 15px;
  width: 11px;
  position: relative;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 128px;
}
.fileItem {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 128px;
  max-width: 100%;
}
.navigationButton {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  min-width: 386px;
  max-width: 100%;
}
.horizontalListIcon {
  height: 13px;
  width: 13px;
  position: relative;
}
.heroiconsOutlinex {
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 25px;
}
.fileList {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.userReply {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  max-width: 100%;
}
.b12 {
  align-self: stretch;
  width: 44px;
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray-100);
  text-align: left;
}
.title1 {
  align-self: stretch;
  height: 45px;
  border-bottom: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.commentowner {
  height: 47px;
  width: 92px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.div1 {
  height: 21px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 83px;
}
.commentitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) var(--padding-396xl) var(--padding-11xs-5) 0px;
  gap: var(--gap-3xs);
}
.commentlist {
  align-self: stretch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.comment {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.scroll {
  align-self: stretch;
  height: 652px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-264xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.div10 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 129px;
}
.wrapper {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) var(--padding-3xs);
  cursor: pointer;
}
.text {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.navBtn {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-28xl);
}
.text1 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-malgun-gothic);
  color: var(--color-white);
  text-align: left;
  min-width: 105px;
}
.navBtn1 {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  border: 1px solid var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi);
  white-space: nowrap;
}
.navBtnParent {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.qamodal {
  margin: 0;
  width: 744px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
}

@media screen and (max-width: 725px) {
  .info {
    flex-wrap: wrap;
  }

  .commentitem {
    padding-right: var(--padding-188xl);
    box-sizing: border-box;
  }

  .scroll {
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .b {
    font-size: var(--font-size-lg);
  }

  .b1 {
    font-size: var(--font-size-base);
  }

  .b3 {
    font-size: var(--font-size-base);
  }

  .b5 {
    font-size: var(--font-size-base);
  }

  .b7 {
    font-size: var(--font-size-base);
  }

  .b8 {
    font-size: var(--font-size-lg);
  }

  .b9 {
    font-size: var(--font-size-lg);
  }

  .b10 {
    font-size: var(--font-size-base);
  }

  .title {
    font-size: var(--font-size-lg);
  }

  .titleParent {
    flex-wrap: wrap;
  }

  .txt {
    font-size: var(--font-size-base);
  }

  .b12 {
    font-size: var(--font-size-lg);
  }

  .div {
    font-size: var(--font-size-base);
  }

  .commentitem {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .text {
    font-size: var(--font-size-lgi);
  }

  .qamodal {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navigationButton {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .scroll {
    padding-bottom: var(--padding-101xl);
    box-sizing: border-box;
  }
}
