.h3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.question1Of {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 6.722rem;
}
.question {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-545xl) var(--padding-2xs) 0rem;
  gap: var(--gap-xl);
  font-size: var(--font-size-9xl);
}
.numberIcon {
  height: 2.222rem;
  width: 2.222rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.optionText {
  position: relative;
  display: inline-block;
  min-width: 4.444rem;
}
.optionItem {
  align-self: stretch;
  background-color: var(--blue3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-574xl) var(--padding-8xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.optionItem1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-lightgray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-574xl) var(--padding-8xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.option {
  align-self: stretch;
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  align-self: stretch;
  height: 14.444rem;
  position: relative;
  display: inline-block;
}
.explane {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  font-size: var(--font-size-lg);
}
.quizNavBtn {
  border-radius: var(--br-8xs);
  background-color: var(--color-lightgray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  white-space: nowrap;
}
.quizNavBtn1 {
  border-radius: var(--br-8xs);
  background-color: var(--blue3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  white-space: nowrap;
}
.b {
  position: relative;
  display: inline-block;
  min-width: 4.889rem;
}
.quizNavBtn2 {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  white-space: nowrap;
  color: var(--color-white);
}
.bottom {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-7xs) 0rem;
  gap: var(--gap-xl);
}
.quizContent {
  align-self: stretch;
  background-color: var(--bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-31xl) var(--padding-73xl);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .h3 {
    font-size: var(--font-size-3xl);
  }

  .question {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .optionText {
    font-size: var(--font-size-base);
  }

  .optionItem {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .optionItem1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .bottom {
    flex-wrap: wrap;
  }

  .quizContent {
    gap: 0.833rem 1.667rem;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .question {
    padding-right: var(--padding-263xl);
    box-sizing: border-box;
  }

  .optionItem {
    flex-wrap: wrap;
    padding-right: var(--padding-277xl);
    box-sizing: border-box;
  }

  .optionItem1 {
    flex-wrap: wrap;
    padding-right: var(--padding-277xl);
    box-sizing: border-box;
  }

  .quizContent {
    padding: var(--padding-13xl) var(--padding-6xl) var(--padding-41xl);
    box-sizing: border-box;
  }
}
