.sidebarsChild {
  width: 8.333rem;
  height: 2.889rem;
  position: relative;
  object-fit: cover;
}
.vectorIcon {
  height: 1.389rem;
  width: 1.389rem;
  position: relative;
}
.bitcoinIconshomeOutline {
  height: 1.667rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-5);
  box-sizing: border-box;
  width: 1.667rem;
}
.home {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.navitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.vectorIcon1 {
  width: 1.389rem;
  height: 1.389rem;
  position: relative;
}
.fluentlibrary20Regular {
  height: 1.667rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-5);
  box-sizing: border-box;
  width: 1.667rem;
}
.h31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 4.444rem;
}
.navitem2 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.mainNav {
  width: 10.833rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.atomsMouth {
  width: 2.667rem;
}
.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem var(--padding-xl) var(--padding-9xs);
}
.text {
  position: relative;
  display: inline-block;
  min-width: 0.889rem;
}
.atomsWeekDey {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-9xs);
  color: var(--color-cornflowerblue-200);
}
.atomsWeekDey1 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-9xs);
}
.line {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.574rem;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.text7 {
  width: 0.778rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.778rem;
}
.atomsDeyNumber {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-8xs);
  color: var(--color-cornflowerblue-100);
}
.atomsDeyNumber1 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-8xs);
}
.text9 {
  width: 0.722rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.722rem;
}
.atomsDeyNumber2 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5);
}
.text12 {
  width: 0.389rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.389rem;
}
.atomsDeyNumber5 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-4xs-5);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.text13 {
  width: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.5rem;
}
.atomsDeyNumber6 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-5xs-5);
  font-size: var(--font-size-sm);
  color: var(--point-blue);
}
.line1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.574rem;
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray-200);
}
.text14 {
  width: 0.556rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.556rem;
}
.atomsDeyNumber7 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-6xs);
  color: var(--point-blue);
}
.atomsDeyNumber8 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-6xs);
}
.atomsDeyNumber11 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-5xs-5);
}
.line2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.574rem;
}
.text21 {
  width: 0.944rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.944rem;
}
.atomsDeyNumber14 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5);
  color: var(--point-blue);
}
.atomsDeyNumber15 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-8xs);
}
.text23 {
  width: 0.889rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.889rem;
}
.atomsDeyNumber16 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-9xs);
}
.atomsDeyNumber17 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5);
}
.atomsDeyNumber21 {
  border-radius: var(--br-9xs);
  background-color: var(--point-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-9xs);
  color: var(--color-white);
}
.text31 {
  width: 1.056rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.056rem;
}
.atomsDeyNumber24 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-10xs-5);
}
.text33 {
  width: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
}
.atomsDeyNumber26 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-10xs);
}
.atomsDeyNumber27 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) var(--padding-10xs-5);
  color: var(--point-blue);
}
.atomsDeyNumber35 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5);
  font-size: var(--font-size-sm);
  color: var(--point-blue);
}
.text43 {
  width: 0.333rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.333rem;
}
.atomsDeyNumber36 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-4xs);
}
.atomsDeyNumber37 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-4xs-5);
}
.text45 {
  width: 0.444rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.444rem;
}
.atomsDeyNumber38 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-5xs);
}
.atomsDeyNumber41 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-4xs-5);
  color: var(--color-cornflowerblue-100);
}
.grid {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.month2024033 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.calendar {
  align-self: stretch;
  height: 17.222rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content {
  align-self: stretch;
  height: 49rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-31xl) 0rem;
  box-sizing: border-box;
}
.collepseBtnIcon {
  width: 3.317rem;
  height: 1.667rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.div {
  height: 1.5rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.logOut {
  width: 3.333rem;
  background-color: var(--color-darkgray-100);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0rem;
  box-sizing: border-box;
}
.bottom {
  align-self: stretch;
  height: 1.667rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xs);
}
.sidebars {
  height: 56.889rem;
  width: 15rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-31xl) 0rem var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-malgun-gothic);
}

@media screen and (max-width: 725px) {
  .content {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }

  .sidebars {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .sidebars {
    display: none;
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .home {
    font-size: var(--font-size-base);
  }

  .h31 {
    font-size: var(--font-size-base);
  }

  .div {
    font-size: var(--font-size-base);
  }
}
