.signaler {
  width: 2.056rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.056rem;
  white-space: nowrap;
}
.observer {
  border-radius: var(--br-3xs);
  background-color: var(--blue4);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-sm);
}
.b {
  align-self: stretch;
  position: relative;
}
.wrapper {
  width: 9.722rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0rem 0rem;
  box-sizing: border-box;
  text-align: left;
}
.frameChild {
  height: 1.111rem;
  width: 5.556rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--blue4);
}
.barInner {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b1 {
  width: 1.611rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.611rem;
}
.bar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.barWrapper {
  width: 13.333rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0rem 0rem;
  box-sizing: border-box;
}
.videoitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-malgun-gothic);
}
