.color-palette {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.color-palette-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
}
.ai1 {
  position: relative;
  display: inline-block;
  min-width: 3.313rem;
}
.frame-parent2 {
  height: 5.063rem;
  width: 3.313rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.p124,
.p125,
.p126 {
  margin: 0;
}
.div211 {
  /* height: 13.125rem; */
  flex: 1;
  position: relative;
  line-height: 1.344rem;
  display: flex;
  /* align-items: center; */
  min-width: 30.938rem;
  max-width: 100%;
}
.chat-item4 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-6xl);
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 725px) {
  .div211 {
    min-width: 100%;
  }
}
