.itemContainer {
  display: flex;
  gap: var(--gap-6xl);
  justify-content: flex-end;
}

.uploadedImage{
  width: 100%;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--gap-xl);
}

.userIconWrapper{
  width: 50px;
  height: 50px;
  background-color: var(--point-bg-blue);
  padding: 5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  font-size: var(--font-size-xl);
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.text{
  max-width: calc(100% - 200px - 3.126rem);
  background-color: var(--bg-blue);
  padding: var(--padding-6xs);
  border-radius: 5px;
  height: fit-content;
  font-size: var(--font-size-base);
  white-space:pre-wrap;
}