.frame-child20 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-400);
}

.div32 {
  position: relative;
  display: inline-block;
  min-width: 3rem;
}

.ellipse-parent,
.wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper14 {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}

.ellipse-parent {
  height: 5.063rem;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}

.p16,
.p17,
.p18 {
  margin: 0;
}

.div33 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 31.063rem;
  max-width: 100%;
}

.chat-item1 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-6xl);
  debug_commit: f6aba90;
}

.div34,
.frame-child21 {
  align-self: stretch;
  flex: 1;
  position: relative;
}

.frame-child21 {
  border-radius: 50%;
  background-color: var(--color-gray-400);
}

.div34 {
  display: flex;
  align-items: center;
}

.ellipse-group,
.wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper15 {
  align-self: stretch;
  height: 1.313rem;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}

.ellipse-group {
  height: 5.063rem;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}

.p19,
.p20,
.p21 {
  margin: 0;
}

.txt4 {
  line-break: anywhere;
}

.div35 {
  height: 3.938rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 31.063rem;
  max-width: 100%;
}

.chat-item2 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-6xl);
  debug_commit: f6aba90;
}

.frame-child22 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}

.ai,
.ellipse-wrapper {
  align-self: stretch;
  display: flex;
}

.ellipse-wrapper {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
}

.ai {
  height: 1.313rem;
  position: relative;
  align-items: center;
}

.frame-parent {
  height: 5.063rem;
  width: 3.313rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.p22,
.p23,
.p24 {
  margin: 0;
}

.footer {
  height: 13.125rem;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 30.938rem;
  max-width: 100%;
}

.chat-board,
.chat-item3 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-item3 {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-6xl);
  debug_commit: f6aba90;
}

.chat-board {
  height: 41.75rem;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 var(--padding-xl) 1rem;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}

.group-icon3 {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
}

.icon-park-outlineredo {
  height: 1.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}

.regenerate-response {
  position: relative;
}

.regenerate {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-mini);
  gap: var(--gap-3xs);
  border: none;
}

.group-icon4 {
  height: 1.331rem;
  width: 1.063rem;
  position: relative;
}

.input-file,
.lucidefile-plus {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.lucidefile-plus {
  height: 1.706rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
}

.input-file {
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  justify-content: center;
  padding: 0.556rem var(--padding-2xs) 0.55rem;
}

.vector-icon9 {
  width: 1.063rem;
  height: 1.588rem;
  position: relative;
}

.f7mic,
.input-file1,
.inputs-child {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.f7mic {
  height: 1.963rem;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-10xs);
  box-sizing: border-box;
}

.input-file1,
.inputs-child {
  border: 0;
  background-color: var(--color-whitesmoke);
  border-radius: var(--br-8xs);
}

.input-file1 {
  cursor: pointer;
  padding: 0.425rem var(--padding-2xs);
  flex-direction: column;
  justify-content: center;
}

.inputs-child {
  width: 100%;
  outline: 0;
  height: 2.813rem;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-malgun-gothic);
  font-size: var(--font-size-xl);
  color: var(--color-gray-700);
  min-width: 18.75rem;
  max-width: 100%;
}

.vector-icon10 {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
}

.cipaper-plane {
  height: 1.563rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  width: 1.563rem;
}

.chat,
.cipaper-plane,
.input-file2,
.inputs {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.input-file2 {
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
}

.chat,
.inputs {
  align-self: stretch;
  max-width: 100%;
}

.inputs {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-xl);
}

.chat {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0;
  gap: var(--gap-21xl);
}

.chat,
.content3 {
  box-sizing: border-box;
}

.content3 {
  flex: 1;
  background: linear-gradient(180deg, #eee, #fdfdfd 0.01%, #fff 2.5%, #fff);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-11xl);
  max-width: calc(100% - 230px);
}


.checkbox1 {
  overflow: hidden;
  flex-shrink: 0;
}

.checkbox1 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div37 {
  flex: 1;
  position: relative;
}

.checkbox2,
.history-item1 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox2 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div38 {
  flex: 1;
  position: relative;
}

.checkbox3,
.history-item2 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox3 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div39 {
  flex: 1;
  position: relative;
}

.checkbox4,
.history-item3 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox4 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div40 {
  flex: 1;
  position: relative;
}

.checkbox5,
.history-item4 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox5 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div41 {
  flex: 1;
  position: relative;
}

.checkbox6,
.history-item5 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox6 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div42 {
  flex: 1;
  position: relative;
}

.checkbox7,
.history-item6 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox7 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div43 {
  flex: 1;
  position: relative;
}

.checkbox8,
.history-item7 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox8 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div44 {
  flex: 1;
  position: relative;
}

.checkbox9,
.history-item8 {
  overflow: hidden;
  flex-shrink: 0;
}

.history-item8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox9 {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}

.div45 {
  flex: 1;
  position: relative;
}

.history-item9 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox10,
.div46 {
  position: relative;
  flex-shrink: 0;
}

.checkbox10 {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
}

.div46 {
  align-self: stretch;
  width: 9.375rem;
  display: flex;
  align-items: center;
}

.checkbox11,
.history-item10 {
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}

.history-item10 {
  height: 4.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox11 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
}

.div47,
.history-item11 {
  flex-shrink: 0;
  display: flex;
}

.div47 {
  align-self: stretch;
  width: 9.375rem;
  position: relative;
  align-items: center;
}

.history-item11 {
  height: 4.25rem;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.checkbox12,
.div48 {
  position: relative;
  flex-shrink: 0;
}

.checkbox12 {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
}

.div48 {
  align-self: stretch;
  width: 9.375rem;
  display: flex;
  align-items: center;
}

.history-item12,
.history-list {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.history-item12 {
  height: 4.25rem;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  debug_commit: f6aba90;
}

.history-list {
  align-self: stretch;
  height: 48.181rem;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 0 0.056rem;
  gap: var(--gap-3xs);
}

.vector-icon11 {
  height: 1.756rem;
  width: 1.406rem;
  position: relative;
}

.octicontrashcan-16 {
  height: 1.756rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}

.div49 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 5.5rem;
}

.history-delete-btn,
.history-delete-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.history-delete-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--blue2);
  border-radius: var(--br-8xs);
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}

.history-delete-btn-wrapper {
  justify-content: flex-end;
  padding: 0 2.075rem 0 var(--padding-14xl);
}

.history {
  width: 14.375rem;
  background-color: var(--point-bg-blue);
  border-top: 1px solid var(--blue2);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-31xl);
  font-size: var(--font-size-lg);
}

.data-aggregator1 {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}

.box,
.box-wrapper,
.chatbotpage,
.data-aggregator1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

.box-wrapper,
.chatbotpage {
  box-sizing: border-box;
}

.box-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  max-width: calc(100% - 270px);
}

.chatbotpage {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  letter-spacing: normal;
}

.title25 {
  margin: 0;
  height: 2.5rem;
  width: 13.25rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.gpt-4-turbo {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 6.938rem;
}

.vector-icon55 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}

.bxsdown-arrow4,
.choice-model,
.title-parent1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.bxsdown-arrow4 {
  height: 1.125rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
}

.choice-model,
.title-parent1 {
  flex-direction: row;
}

.choice-model {
  width: 11.125rem;
  border-radius: var(--br-8xs);
  background-color: var(--point-bg-blue);
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-xl);
}

.title-parent1 {
  flex: 1;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-xl);
  min-width: 37.375rem;
  max-width: 100%;
  gap: var(--gap-xl);
}

.div210,
.history1 {
  position: relative;
  display: inline-block;
}

.history1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 5.25rem;
}

.div210 {
  font-size: var(--font-size-lg);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  min-width: 3.125rem;
}

.capacity,
.history-top,
.top6 {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.capacity {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--point-bg-blue);
  border-radius: var(--br-xl);
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.capacity:hover {
  background-color: var(--color-lightsteelblue-100);
}

.history-top,
.top6 {
  flex-direction: row;
  justify-content: space-between;
}

.history-top {
  width: 14.375rem;
  background-color: var(--bg-blue);
  flex-shrink: 0;
  padding: var(--padding-11xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-7xl);
  font-family: var(--font-malgun-gothic);
}

.top6 {
  align-self: stretch;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

@media screen and (max-width: 975px) {
  .title25 {
    font-size: var(--font-size-5xl);
  }
}

@media screen and (max-width: 725px) {
  .title-parent1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .title25 {
    font-size: var(--font-size-lg);
  }

  .gpt-4-turbo {
    font-size: var(--font-size-base);
  }

  .history1 {
    font-size: var(--font-size-2xl);
  }
}

@media screen and (max-width: 1000px) {
  .chat-board {
    padding-bottom: 8.75rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 975px) {
  .chat-board {
    height: auto;
  }

  .box-wrapper {
    max-width: 100%;
  }

  .chatbotpage {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 725px) {

  .div33,
  .div35,
  .footer {
    min-width: 100%;
  }

  .chat-board {
    padding-bottom: 5.688rem;
    box-sizing: border-box;
  }

  .content3 {
    max-width: 100%;
  }

  .history {
    display: none;
  }

  .data-aggregator1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .chat {
    gap: 1.25rem 2.5rem;
  }

  .div49 {
    font-size: var(--font-size-base);
  }
}