.history-item {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    gap: var(--gap-2xs);
    overflow: hidden;
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
}

.history-item:hover {
    background-color: white;
}

.form-check-input {
    width: 20px !important;
    height: 20px !important;
}

.div36 {
    flex: 1;
    position: relative;
  }