.history-item {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-xl);
    gap: var(--gap-xl);
    overflow: hidden;
    flex-shrink: 0;
    /* debug_commit: f6aba90; */
}

.checkbox {
    margin: 0;
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-darkgray-100);
    overflow: hidden;
    flex-shrink: 0;
}

.div36 {
    flex: 1;
    position: relative;
  }