.chat-item {
    align-self: stretch;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0;
    gap: var(--gap-6xl);
    /* debug_commit: f6aba90; */
}

.div30 {
    position: relative;
    display: inline-block;
    min-width: 3rem;
}

.div31 {
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 31.063rem;
    max-width: 100%;

}

.p13{
  margin: 0;
}

.link-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 5.063rem;
    width: 3.125rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-3xs);
}

.value-filter {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-gray-400);
}

.wrapper13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapper13 {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
}

@media screen and (max-width: 725px) {
    .div31 {
        min-width: 100%;
    }
}