@font-face {
  font-family: "Malgun Gothic";
  src: url("fonts/malgun.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-malgun-gothic: "Malgun Gothic";

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-5xl: 1.5rem;
  --font-size-mid: 1.063rem;
  --font-size-21xl: 2.5rem;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #ccc;
  --color-black: #000;
  --color-gray-100: #777;
  --color-gray-200: #1f1f1f;
  --color-gray-300: #19191a;

  /* Gaps */
  --gap-3xl: 1.375rem;
  --gap-3xs: 0.625rem;
  --gap-8xs: 0.313rem;
  --gap-21xl: 2.5rem;

  /* Paddings */
  --padding-smi: 0.813rem;
  --padding-7xl: 1.625rem;
  --padding-61xl: 5rem;
  --padding-131xl: 9.375rem;
  --padding-lg: 1.125rem;
  --padding-6xs: 0.438rem;
  --padding-11xl: 1.875rem;

  /* Border radiuses */
  --br-8xs: 5px;
}
