.h28 {
  margin: 0;
  width: 3.5rem;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 3.5rem;
}
.text116 {
  align-self: stretch;
  position: relative;
}
.text116 {
  height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar10,
.text117 {
  align-self: stretch;
  position: relative;
}
.text117 {
  height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar10 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p135,
.p136,
.p137 {
  margin: 0;
}
.name11,
.score-item1 {
  align-self: stretch;
  display: flex;
}
.name11 {
  height: 3rem;
  position: relative;
  align-items: flex-end;
}
.score-item1 {
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar11,
.text118 {
  align-self: stretch;
  position: relative;
}
.bar11 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p138,
.p139,
.p140 {
  margin: 0;
}
.name12 {
  align-self: stretch;
  position: relative;
}
.score-item2 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar12,
.text119 {
  align-self: stretch;
  position: relative;
}
.bar12 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p141,
.p142,
.p143 {
  margin: 0;
}
.name13 {
  align-self: stretch;
  position: relative;
}
.score-item3 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar13,
.text120 {
  align-self: stretch;
  position: relative;
}
.bar13 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper11 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p144,
.p145,
.p146 {
  margin: 0;
}
.name14 {
  align-self: stretch;
  position: relative;
}
.score-item4 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar14,
.text121 {
  align-self: stretch;
  position: relative;
}
.bar14 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p147,
.p148,
.p149 {
  margin: 0;
}
.name15 {
  align-self: stretch;
  position: relative;
}
.score-item5 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar15,
.text122 {
  align-self: stretch;
  position: relative;
}
.bar15 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p150,
.p151,
.p152 {
  margin: 0;
}
.name16 {
  align-self: stretch;
  position: relative;
}
.score-item6 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar16,
.text123 {
  align-self: stretch;
  position: relative;
}
.bar16 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p153,
.p154,
.p155 {
  margin: 0;
}
.name17 {
  align-self: stretch;
  position: relative;
}
.score-item7 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar17,
.text124 {
  align-self: stretch;
  position: relative;
}
.bar17 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p156,
.p157,
.p158 {
  margin: 0;
}
.name18 {
  align-self: stretch;
  position: relative;
}
.score-item8 {
  align-self: stretch;
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar18,
.text125 {
  align-self: stretch;
  position: relative;
}
.text125 {
  height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar18 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p159,
.p160,
.p161 {
  margin: 0;
}
.name19,
.score-item9 {
  align-self: stretch;
  display: flex;
}
.name19 {
  height: 3rem;
  position: relative;
  align-items: flex-end;
}
.score-item9 {
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.bar19,
.text126 {
  align-self: stretch;
  position: relative;
}
.text126 {
  height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar19 {
  width: 1.25rem;
  background: linear-gradient(180deg, #a4ebf3, #aac4ff);
}
.bar-wrapper17 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.p162,
.p163,
.p164 {
  margin: 0;
}
.name20,
.score-item10 {
  align-self: stretch;
  display: flex;
}
.name20 {
  height: 3rem;
  position: relative;
  align-items: flex-end;
}
.score-item10 {
  width: 3.125rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  debug_commit: f6aba90;
}
.vector-icon70 {
  height: 0.5rem;
  width: 0.375rem;
  position: relative;
}
.right1 {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  width: 0;
}
.turn-indicator-child {
  background-color: var(--color-lightgray);
}
.turn-indicator-child,
.turn-indicator-child1,
.turn-indicator-inner,
.turn-indicator-item {
  height: 0.313rem;
  width: 0.313rem;
  position: relative;
  border-radius: 50%;
  border: 0 solid var(--color-lightgray);
  box-sizing: border-box;
}
.vector-icon71 {
  height: 0.5rem;
  width: 0.375rem;
  position: relative;
}
.left1,
.turn-indicator {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.left1 {
  height: 0;
  display: flex;
  padding: 0 var(--padding-8xs);
  width: 0;
}
.turn-indicator {
  height: 3.125rem;
  flex-shrink: 0;
  display: none;
  padding: var(--padding-4xs) var(--padding-6xl);
  gap: var(--gap-8xs);
}
.info25,
.score-board {
  display: flex;
  flex-direction: row;
}
.score-board {
  width: 21.875rem;
  height: 11.438rem;
  background-color: var(--color-white);
  overflow-x: auto;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-family: var(--font-malgun-gothic);
}
.info25 {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-xl);
  color: var(--color-dimgray);
}
.frame-wrapper,
.parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.parent11 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper {
  width: 21.875rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  min-width: 21.875rem;
}
.b207 {
  width: 6.063rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 6.063rem;
}
.title26 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.div241,
.tltle1 {
  display: flex;
  justify-content: center;
}
.div241 {
  width: 7.125rem;
  position: relative;
  align-items: flex-end;
  min-width: 7.125rem;
}
.tltle1 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.div242,
.div243 {
  position: relative;
  display: inline-block;
  min-width: 1.313rem;
}
.div243 {
  min-width: 3.438rem;
}
.deadline5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.p165,
.p166,
.p167,
.p168,
.p169 {
  margin: 0;
}
.div244 {
  align-self: stretch;
  height: 7.938rem;
  position: relative;
  color: var(--color-black);
  display: inline-block;
}
.discreption1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0 var(--padding-mini);
  gap: var(--gap-3xs);
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
}
.div245,
.div246 {
  position: relative;
  display: inline-block;
  min-width: 2.5rem;
}
.div246 {
  min-width: 1.438rem;
}
.time6 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-mid);
}
.div247,
.div248 {
  position: relative;
  display: inline-block;
  min-width: 1.188rem;
}
.div248 {
  min-width: 1.813rem;
}
.info26,
.score17 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.score17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.info26 {
  width: 5rem;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.div249 {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-roboto);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 3.063rem;
}
.vector-icon72 {
  height: 0.5rem;
  width: 0.375rem;
  position: relative;
}
.bxsright-arrow1 {
  height: 0.5rem;
  justify-content: center;
}
.bottom14,
.bxsright-arrow1,
.go-btn1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.go-btn1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--boder-blue);
  border-radius: var(--br-8xs);
  justify-content: center;
  gap: var(--gap-10xs);
}
.bottom14 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xs);
  color: var(--color-gray-400);
}
.item,
.uncomplete-quiz-item1,
.uncomplete-test {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.uncomplete-quiz-item1 {
  width: 14.375rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-mini);
}
.item,
.uncomplete-test {
  justify-content: flex-start;
  max-width: 100%;
}
.item {
  width: 25.625rem;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 0 var(--padding-4xl) var(--padding-11xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
}
.uncomplete-test {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-31xl) 0 var(--padding-xl);
  gap: var(--gap-11xl);
  min-width: 16.625rem;
}
.b208,
.week7 {
  position: relative;
  display: flex;
  justify-content: center;
}
.b208 {
  width: 8.375rem;
  align-items: flex-end;
}
.week7 {
  align-self: stretch;
  height: 1.688rem;
  align-items: center;
}
.weekbtn {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week8,
.weekbtn,
.weekbtn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.week8 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn1 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week9 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week10,
.week9,
.weekbtn2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekbtn2 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week10 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn3 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week11,
.weekbtn3,
.weekbtn4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.week11 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn4 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week12 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week12,
.week13,
.weekbtn5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekbtn5 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week13 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn6 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week14,
.weekbtn6,
.weekbtn7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.week14 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn7 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week15 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week15,
.week16,
.weekbtn8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekbtn8 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week16 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn9 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week17,
.weekbtn10,
.weekbtn9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.week17 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn10 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week18 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week18,
.week19,
.weekbtn11 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekbtn11 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week19 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn12 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week20,
.weekbtn12,
.weekbtn13 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.week20 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.weekbtn13 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week21 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week21,
.week22,
.weekbtn14 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekbtn14 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-sm);
  box-sizing: border-box;
}
.week22 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
}
.week6,
.weekbtn15,
.weeks {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.weekbtn15 {
  width: 2.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) var(--padding-sm);
}
.week6,
.weeks {
  justify-content: flex-start;
}
.weeks {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-11xl) 0 0;
  gap: 1.25rem 0.625rem;
  min-height: 13.75rem;
}
.week6 {
  width: 20.625rem;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-11xl) var(--padding-74xl);
  gap: var(--gap-11xl);
  min-width: 20.625rem;
  max-width: 100%;
}
.frame-parent4,
.quiz-nav {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.quiz-nav {
  flex: 1;
  background-color: var(--color-lightblue-100);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-width: 30.063rem;
  row-gap: 20px;
  font-size: var(--font-size-xl);
}
.frame-parent4 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 950px) {
  .h28 {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper {
    flex: 1;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .week6 {
    flex: 1;
  }
  .quiz-nav {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h28 {
    font-size: var(--font-size-lg);
  }
  .info25 {
    flex-wrap: wrap;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .b207 {
    font-size: var(--font-size-base);
  }
  .uncomplete-test {
    padding-top: var(--padding-13xl);
    box-sizing: border-box;
  }
  .b208,
  .week10,
  .week11,
  .week12,
  .week13,
  .week14,
  .week15,
  .week16,
  .week17,
  .week18,
  .week19,
  .week20,
  .week21,
  .week22,
  .week7,
  .week8,
  .week9 {
    font-size: var(--font-size-base);
  }
  .week6 {
    gap: 0.938rem 1.875rem;
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
}
