.b211 {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.status24 {
  height: 2.75rem;
  width: 6.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--point-red);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
  box-sizing: border-box;
  font-family: var(--font-roboto);
}
.div254,
.secret7,
.status24 {
  display: flex;
  align-items: center;
}
.div254 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.secret7 {
  height: 2.625rem;
  width: 6.875rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base-5);
  box-sizing: border-box;
}
.p173,
.p174,
.p175 {
  margin: 0;
}
.title-text-txt1 {
  width: 100%;
}
.div255,
.title-text6,
.title28 {
  display: flex;
  align-items: center;
}
.title-text6 {
  height: 4.5rem;
  width: 6.063rem;
  position: relative;
}
.div255,
.title28 {
  flex: 1;
}
.title28 {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  min-width: 6.063rem;
  max-width: 100%;
}
.div255 {
  align-self: stretch;
  position: relative;
}
.writer8 {
  height: 2.5rem;
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xl-5);
  box-sizing: border-box;
}
.div256,
.score19,
.writer8 {
  display: flex;
  align-items: center;
}
.div256 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.score19 {
  height: 2.875rem;
  width: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-17xl);
  box-sizing: border-box;
}
.div257 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.deadline7,
.div257,
.div258 {
  display: flex;
  align-items: center;
}
.deadline7 {
  height: 2.875rem;
  width: 7.5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-smi-5);
  box-sizing: border-box;
}
.div258 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.feedback1,
.line26,
.quiz-row1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.feedback1 {
  height: 2.875rem;
  width: 7.5rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-5xl);
  color: var(--color-dimgray);
}
.line26,
.quiz-row1 {
  align-self: stretch;
  justify-content: flex-start;
  max-width: 100%;
}
.line26 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-11xs) 0;
  gap: var(--gap-3xs);
}
.quiz-row1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
