.content6 {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.content-container,
.quizlist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.content-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  max-width: calc(100% - 270px);
}
.quizlist {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  letter-spacing: normal;
}
@media screen and (max-width: 950px) {
  .content-container {
    max-width: 100%;
  }
  .quizlist {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
