.div232,
.tltle {
  display: flex;
  justify-content: center;
}
.div232 {
  width: 7.125rem;
  position: relative;
  align-items: flex-end;
  min-width: 7.125rem;
}
.tltle {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.div233,
.div234 {
  position: relative;
  display: inline-block;
  min-width: 1.313rem;
}
.div234 {
  min-width: 3.438rem;
}
.deadline4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.p127,
.p128,
.p129,
.p130,
.p131 {
  margin: 0;
}
.div235 {
  align-self: stretch;
  height: 7.938rem;
  position: relative;
  color: var(--color-black);
  display: inline-block;
}
.discreption {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0 var(--padding-mini);
  gap: var(--gap-3xs);
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
}
.div236,
.div237 {
  position: relative;
  display: inline-block;
  min-width: 2.5rem;
}
.div237 {
  min-width: 1.438rem;
}
.time5 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-mid);
}
.div238,
.div239 {
  position: relative;
  display: inline-block;
  min-width: 1.188rem;
}
.div239 {
  min-width: 1.813rem;
}
.info24,
.score16 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.score16 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.info24 {
  width: 5rem;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.div240,
.vector-icon69 {
  position: relative;
}
.vector-icon69 {
  height: 0.5rem;
  width: 0.375rem;
}
.bxsright-arrow {
  height: 0.5rem;
  justify-content: center;
}
.bottom13,
.bxsright-arrow,
.go-btn {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.go-btn {
  border-radius: var(--br-8xs);
  background-color: var(--boder-blue);
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-10xs);
  color: var(--color-gray-500);
}
.bottom13 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xs);
  color: var(--color-gray-400);
}
.uncomplete-quiz-item {
  width: 14.375rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
  height: 100%;
}
