.div328 {
  align-self: stretch;
  position: relative;
}

.title39 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% - 560px);
}

.div329 {
  align-self: stretch;
  position: relative;
}

.ave5 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.div330 {
  align-self: stretch;
  position: relative;
}

.week28 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.div331 {
  align-self: stretch;
  position: relative;
}

.count5 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.div332 {
  align-self: stretch;
  position: relative;
}

.date43 {
  width: 6.875rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.div333 {
  align-self: stretch;
  position: relative;
}

.list8,
.name22,
.status32 {
  display: flex;
  align-items: center;
}

.status32 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.list8,
.name22 {
  box-sizing: border-box;
  max-width: 100%;
}

.name22 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  gap: var(--gap-3xs);
}

.list8 {
  width: 69.375rem;
  height: 37.938rem;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}

.bottom20,
.quiz-list1 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
}

.quiz-list1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bottom20 {
  align-self: stretch;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--point-bg-blue);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-malgun-gothic);
}

.b236,
.div295 {
  position: relative;
}

.b236 {
  width: 6.563rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 6.563rem;
}

.div295 {
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 2.5rem;
}

.pattern-matcher-icon1 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}

.bxsdown-arrow8,
.menu7,
.top8 {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.bxsdown-arrow8 {
  height: 1.125rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}

.menu7,
.top8 {
  flex-direction: row;
}

.menu7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-xl);
  background-color: var(--point-bg-blue);
  border-radius: var(--br-8xs);
  justify-content: center;
  gap: var(--gap-6xs);
}

.top8 {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

@media screen and (max-width: 450px) {
  .b236 {
    font-size: var(--font-size-lgi);
  }

  .div295 {
    font-size: var(--font-size-base);
  }

  .top8 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {

  .div328,
  .div329,
  .div330,
  .div331,
  .div332,
  .div333 {
    font-size: var(--font-size-base);
  }
}