.content9,
.padding1,
.profstudentassigninfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content9 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.padding1,
.profstudentassigninfo {
  flex-direction: row;
}
.padding1 {
  flex: 1;
  padding: var(--padding-xl) var(--padding-3xs);
  box-sizing: border-box;
  max-width: calc(100% - 270px);
}
.profstudentassigninfo {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .padding1 {
    max-width: 100%;
  }
  .profstudentassigninfo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
