.div322 {
  align-self: stretch;
  position: relative;
}
.title38 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.div323 {
  align-self: stretch;
  position: relative;
}
.ave4 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div324 {
  align-self: stretch;
  position: relative;
}
.week27 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div325 {
  align-self: stretch;
  position: relative;
}
.count4 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div326 {
  align-self: stretch;
  position: relative;
}
.date42 {
  width: 6.875rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div327 {
  position: relative;
  display: inline-block;
  min-width: 3.375rem;
}
.item4,
.status31,
.submit21 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.submit21 {
  border-radius: var(--br-3xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-4xl);
}
.item4,
.status31 {
  flex-direction: column;
  justify-content: flex-start;
}
.item4 {
  width: 66.875rem;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
