.b213,
.b214 {
  position: relative;
}
.b213 {
  display: inline-block;
  min-width: 2.75rem;
}
.b214 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.score22 {
  width: 13.419rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base-5) var(--padding-75xl-7) var(--padding-base-5) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.b215,
.b216 {
  position: relative;
}
.b215 {
  width: 6rem;
  display: flex;
  align-items: center;
}
.b216 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.percent {
  width: 13.419rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-88xl-7) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.b217,
.b218 {
  position: relative;
}
.b217 {
  display: inline-block;
  min-width: 2.75rem;
}
.b218 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.info27,
.time7 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.time7 {
  width: 13.419rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-107xl-7) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.info27 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 650px) {
  .info27 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .b213 {
    font-size: var(--font-size-lg);
  }
  .b214 {
    font-size: var(--font-size-base);
  }
  .b215 {
    font-size: var(--font-size-lg);
  }
  .b216 {
    font-size: var(--font-size-base);
  }
  .b217 {
    font-size: var(--font-size-lg);
  }
  .b218 {
    font-size: var(--font-size-base);
  }
}
