.submit22 {
  position: relative;
  display: inline-block;
  min-width: 4.875rem;
}
.stunumber16 {
  width: 13.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div336 {
  position: relative;
  display: inline-block;
  min-width: 3.75rem;
}
.stuname16 {
  width: 13.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.div337 {
  position: relative;
  display: inline-block;
  min-width: 0.563rem;
}
.date44 {
  width: 13.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.progress-bar1 {
  flex: 1;
  position: relative;
}
.score23 {
  width: 13.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.b256 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 3.75rem;
}
.list-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xl);
  background-color: var(--warning-red);
  border-radius: var(--br-3xs);
  overflow: hidden;
  justify-content: center;
}
.list-container:hover {
  background-color: var(--color-indianred-200);
}
.list-container,
.student-quiz-item7,
.submit23 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.submit23 {
  width: 13.125rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.student-quiz-item7 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow-x: auto;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-xl);
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 450px) {
  .b256,
  .div336,
  .div337,
  .progress-bar1,
  .submit22 {
    font-size: var(--font-size-base);
  }
}
