.contents {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xs);
}

.fileBtn {
  display: flex !important;
  gap: 5px;
  align-items: center;
  background-color: var(--point-blue) !important;
  border: none !important;
  width: fit-content !important;
}

.fileBtn:hover {
  background-color: #ccc !important;
}

.fileTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
}

.title {
  font-size: var(--font-size-xl);
  color: #777;
  font-weight: bold;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-7xs) 0;
}

.fileDeleteBtn {
  background: none !important;
  border: none !important;
  color: black !important;
}

.comment {
  background-color: var(--point-bg-blue);
  font-size: var(--font-size-xl);
  padding: var(--padding-7xs);
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
}

.profComment {
  background-color: var(--point-yellow);
}