.num5,
.writer-label {
  display: flex;
  align-items: center;
}
.writer-label {
  height: 6.25rem;
  position: relative;
  min-width: 1.875rem;
}
.num5 {
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-8xs);
}
.b198 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 2.25rem;
}
.status21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-18xl);
  background-color: var(--point-blue);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.status21:hover {
  background-color: var(--color-cornflowerblue-300);
}
.notice-row-data {
  height: 1.094rem;
  width: 1.094rem;
  position: relative;
}
.pin-fill1,
.secret4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pin-fill1 {
  height: 1.469rem;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  width: 1.469rem;
}
.secret4 {
  padding: var(--padding-19xl-3) var(--padding-lg-2) var(--padding-19xl-2)
    var(--padding-lg-3);
}
.p118,
.p119,
.p120 {
  margin: 0;
}
.title-text3 {
  position: relative;
}
.title23 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
  box-sizing: border-box;
  min-width: 5.625rem;
  max-width: 100%;
}
.div202 {
  position: relative;
  display: inline-block;
  min-width: 4.5rem;
}
.writer5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-sm);
}
.div203 {
  position: relative;
  display: inline-block;
  min-width: 5.938rem;
}
.upload-date5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-smi-5);
}
.table-column-name {
  position: relative;
  display: inline-block;
  min-width: 3.125rem;
}
.view7 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-mini);
}
.line13,
.notice-row1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.line13 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-dimgray-100);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.notice-row1 {
  width: 69.375rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
