.right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 1px;
}

.quizInfo{
  height: 100px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quizInfoRight{
  display: flex;
  gap: 20px;
}

.rightBottom{
  flex-grow: 1;
  background-color: var(--bg-blue);
  border-radius: 0 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizContainer{
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
  width: 80%;
  height: 80%;
}

.question{
  font-weight: bold;
  width: 100%;
}

.questionNumber{
  color: #666;
  font-size: var(--font-size-5xl);
}

.option{
  display: flex;
  gap: var(--gap-6xl);
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.option:hover{
  background-color: #ccc;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.optionText{
  font-size: var(--font-size-5xl);
}

.left{
  width: 300px;
  background-color: var(--point-bg-blue);
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
  padding: 100px 0;
  padding-bottom: 50px;
}

.leftTime{
  background-color: var(--boder-blue);
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fontSize5xl{
  font-size: var(--font-size-5xl);
}

.fontSize31xl{
  font-size: var(--font-size-31xl);
}

.numberNav{
  padding: 15px 20px;
  background-color: white;
  display: grid;
}

.notice{
  padding: 20px 20px;
  flex-grow: 1;
}

.fontSizeBase{
  font-size: var(--font-size-xl);
}

.answerQuizContainer{
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
  width: 80%;
  height: calc(100vh - 200px);
}

.answerOption{
  display: flex;
  gap: var(--gap-6xl);
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.answerContainer{
  width: 100%;
  flex-grow: 1;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.answerFeatureBtns{
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-18xl);
  gap: 20px;
}

.featureBtn{
  background-color: var(--point-blue) !important;
  border: none !important;
}

.backBtn{
  background-color: var(--red) !important;
  border: none !important;
}

.numberNav{
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-6xs);
  justify-content: center;
}

.quizNavBtn{
  background-color: #ccc;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.correct{
  background-color: var(--point-green) !important;
}

.wrong{
  background-color: var(--point-red) !important;
}

.quizNavBtn:hover{
  background-color: #ddd;
}

.checked{
  background-color: var(--point-yellow);
}

.done{
  background-color: var(--point-green) !important;
}