.quiz{
  display: flex;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
}

.container{
  flex-grow: 1;
  padding: 20px;
  padding-left: 0;
}

.bg{
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
}

.right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.quizInfo{
  height: 100px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quizInfoRight{
  display: flex;
  gap: 20px;
}

.rightBottom{
  flex-grow: 1;
  background-color: var(--bg-blue);
  border-radius: 0 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizContainer{
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
}

.question{
  font-weight: bold;
}

.questionNumber{
  color: #666;
  font-size: var(--font-size-5xl);
}

.quizContainer{
  width: 80%;
  height: 80%;
}

.option{
  display: flex;
  gap: var(--gap-6xl);
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.optionText{
  font-size: var(--font-size-5xl);
}

.left{
  width: 300px;
  background-color: var(--point-bg-blue);
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
  padding: 100px 0;
}

.leftTime{
  background-color: #87C4FF;
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fontSize5xl{
  font-size: var(--font-size-5xl);
}

.fontSize31xl{
  font-size: var(--font-size-31xl);
}

.numberNav{
  padding: 15px 20px;
  background-color: white;
  display: grid;
}

.notice{
  padding: 20px 20px;
}

.fontSizeBase{
  font-size: var(--font-size-xl);
}


/* .h31,
.question-1-of {
  position: relative;
  text-align: left;
}
.h31 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.question-1-of {
  font-size: var(--font-size-base);
  font-family: var(--font-malgun-gothic);
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 7.563rem;
}
.question {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-545xl) var(--padding-2xs) 0;
  gap: var(--gap-xl);
}
.div50 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 5.5rem;
}
.quiz-nav-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  background-color: var(--color-lightgray);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.quiz-nav-btn:hover {
  background-color: var(--color-darkgray-300);
}
.b72 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.quiz-nav-btn1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  background-color: var(--point-blue);
  width: 6.75rem;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.quiz-nav-btn1:hover {
  background-color: var(--color-cornflowerblue-300);
}
.bottom1,
.content4,
.quiz-content,
.quiz-nav-btn1 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.bottom1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-xl);
}
.content4,
.quiz-content {
  flex-direction: column;
}
.quiz-content {
  align-self: stretch;
  background-color: var(--bg-blue);
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-31xl) 26.375rem;
  gap: var(--gap-11xl);
  flex-shrink: 0;
}
.content4 {
  height: 61.5rem;
  flex: 1;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-white);
  justify-content: space-between;
  min-width: 34.5rem;
  max-width: 100%;
}
.div51,
.time-info {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 5.5rem;
}
.time-info {
  font-size: var(--font-size-31xl);
  min-width: 8.063rem;
}
.time {
  align-self: stretch;
  background-color: var(--boder-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xl);
}
.number-icon,
.number-icon1,
.number-icon2,
.number-icon3,
.number-icon4,
.number-icon5,
.number-icon6,
.number-icon7,
.number-icon8,
.number-icon9 {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.navigator {
  align-self: stretch;
  height: 7.75rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-6xl);
  box-sizing: border-box;
}
.info-panel-content {
  align-self: stretch;
  height: 25.25rem;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.notice {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-7xl);
  box-sizing: border-box;
  min-height: 27.75rem;
}
.content-wrap,
.info-panel,
.notice {
  display: flex;
  align-items: center;
}
.info-panel {
  width: 18.75rem;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--point-bg-blue);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-81xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 18.75rem;
}
.content-wrap {
  display:flex;
  width: 71.875rem;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  row-gap: 20px;
}
.doquiz,
.quiz-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.quiz-wrapper {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: calc(100% - 270px);
  gap: var(--gap-0);
  row-gap: 20px;
}
.doquiz {
  margin: 0;
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .question {
    padding-right: var(--padding-263xl);
    box-sizing: border-box;
  }
  .quiz-content {
    padding: var(--padding-13xl) var(--padding-6xl) 17.125rem;
    box-sizing: border-box;
  }
  .time-info {
    font-size: var(--font-size-21xl);
  }
  .info-panel {
    flex: 1;
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .content-wrap {
    flex-wrap: wrap;
  }
  .quiz-wrapper {
    max-width: 100%;
  }
  .doquiz {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .content4 {
    height: auto;
    min-width: 100%;
  }
  .info-panel {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h31 {
    font-size: var(--font-size-3xl);
  }
  .question {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .bottom1 {
    flex-wrap: wrap;
  }
  .quiz-content {
    gap: 0.938rem 1.875rem;
    padding-top: var(--padding-2xl);
    padding-bottom: 11.125rem;
    box-sizing: border-box;
  }
  .div51 {
    font-size: var(--font-size-base);
  }
  .time-info {
    font-size: var(--font-size-11xl);
  }
  .info-panel-content {
    font-size: var(--font-size-base);
  }
  .info-panel {
    gap: 1.563rem 3.125rem;
  }
} */
