.title31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 3.75rem;
}
.title-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.div276 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 1.875rem;
}
.vector-icon82 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow6,
.menu5 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.bxsdown-arrow6 {
  height: 1.125rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
}
.menu5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--point-bg-blue);
  width: 6.063rem;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.search-input2 {
  height: 2.563rem;
  flex: 1;
  position: relative;
}
.foreground-icon {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.icon2 {
  height: 2.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search2,
.symbol-instance,
.title-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search2 {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs);
  gap: var(--gap-10xs);
}
.symbol-instance,
.title-bar {
  max-width: 100%;
}
.symbol-instance {
  width: 22.313rem;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.title-bar {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.text127 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 4.5rem;
}
.tab-item-2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-mini);
  background-color: transparent;
  flex: 1;
  border-bottom: 4px solid var(--point-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab-item-2:hover {
  background-color: var(--color-cornflowerblue-400);
}
.text128 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 4.938rem;
  white-space: nowrap;
}
.tab-item-21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-mini);
  background-color: transparent;
  flex: 1;
  border-bottom: 4px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab-item-21:hover,
.tab-item-22:hover,
.tab-item-23:hover {
  background-color: var(--color-gainsboro-400);
}
.text129 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3.375rem;
}
.tab-item-22 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-mini);
  background-color: transparent;
  border-bottom: 4px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text130 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 4.938rem;
  white-space: nowrap;
}
.tab-item-23 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-mini);
  background-color: transparent;
  flex: 1;
  border-bottom: 4px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab-item-2-parent {
  width: 25.25rem;
  flex-direction: row;
}
.content-inner,
.tab-item-2-parent,
.title-bar-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.title-bar-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.content-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
