.header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xl);
  flex-direction: column;
}

.top{
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xl);
  align-items: center;
}

.title {
  font-size: var(--font-size-21xl);
  font-weight: bold;
}

.right {
  display: flex;
  gap: var(--gap-xl);
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
}

.select {
  width: fit-content !important;
  height: 40px !important;
  border-radius: 5px 0 0 5px !important;
  border: none !important;
  background-color: var(--point-bg-blue) !important;
  border: 1px solid var(--point-bg-blue) !important;
  cursor: pointer;
}

.searchBox {
  display: flex;
  border: 2px solid var(--point-bg-blue);
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  padding: var(--padding-7xs);
  align-items: center;
}

.search {
  border: none !important;
}

.tabBtns {
  display: flex;
  border-radius: 5px 5px 0 0;
}

.tabItem {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue3);
  border: none;
  color: black;
  padding: var(--padding-mini) var(--padding-xl);
}

.currentFilter {
  background-color: var(--boder-blue);
}