.row{
  display: flex;
  background-color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.row:hover{
  background-color: #ccc;
}

.row h4{
  width: 150px;
  text-align: center;
}

.title{
  flex-grow: 1;
  text-align: left !important;
}

.submitBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xl);
}

.red{
  background-color: var(--point-red);
  padding: var(--padding-5xs) 0;
  font-weight: bold;
  border-radius: 10px;
}

.green{
  background-color: var(--point-green);
  padding: var(--padding-5xs) 0;
  font-weight: bold;
  border-radius: 10px;
}