.div306 {
  align-self: stretch;
  position: relative;
}
.title35 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% - 670px);
}
.div307 {
  align-self: stretch;
  position: relative;
}
.category2 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div308 {
  align-self: stretch;
  position: relative;
}
.ave2 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div309 {
  align-self: stretch;
  position: relative;
}
.week25 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div310 {
  align-self: stretch;
  position: relative;
}
.count2 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div311 {
  align-self: stretch;
  position: relative;
}
.date37 {
  width: 6.875rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div312 {
  align-self: stretch;
  position: relative;
}
.list7,
.name21,
.status29 {
  display: flex;
  align-items: center;
}
.status29 {
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.list7,
.name21 {
  box-sizing: border-box;
  max-width: 100%;
}
.name21 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.list7 {
  width: 69.375rem;
  height: 37.938rem;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-lg);
}
.bottom18,
.quiz-list {
  overflow: hidden;
  display: flex;
  max-width: 100%;
}
.quiz-list {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bottom18 {
  align-self: stretch;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--point-bg-blue);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 450px) {
  .div306,
  .div307,
  .div308,
  .div309,
  .div310,
  .div311,
  .div312 {
    font-size: var(--font-size-base);
  }
}
