.title32 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.title-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.div294 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 2.5rem;
}
.vector-icon88 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow7 {
  height: 1.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.bxsdown-arrow-wrapper,
.menu6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.menu6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--point-bg-blue);
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-6xs);
}
.search-input3 {
  height: 2.563rem;
  flex: 1;
  position: relative;
}
.vector-icon89 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.icon3 {
  height: 2.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-container,
.search3,
.title-bar1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search3 {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs);
  gap: var(--gap-10xs);
  min-width: 10.125rem;
}
.menu-container,
.title-bar1 {
  max-width: 100%;
}
.menu-container {
  width: 22.75rem;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.title-bar1 {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.b228,
.b229 {
  position: relative;
}
.b229 {
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 3.188rem;
}
.date31 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 12.75rem;
  max-width: 17rem;
}
.b230,
.b231 {
  position: relative;
}
.b231 {
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  min-width: 3.188rem;
}
.date32 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 12.75rem;
  max-width: 17rem;
}
.b232,
.b233 {
  position: relative;
  display: inline-block;
  min-width: 4.625rem;
}
.b233 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 1.5rem;
}
.date33 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 12.75rem;
  max-width: 17rem;
}
.b234,
.b235 {
  position: relative;
  display: inline-block;
  min-width: 4.125rem;
}
.b235 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 3rem;
}
.date34 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 12.75rem;
  max-width: 17rem;
}
.content-child,
.date-info5,
.date34,
.title-bar-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-info5 {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.content-child,
.title-bar-group {
  max-width: 100%;
}
.title-bar-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.content-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 825px) {
  .title32 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 675px) {
  .title-bar1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .title32 {
    font-size: var(--font-size-lgi);
  }
  .div294 {
    font-size: var(--font-size-base);
  }
  .menu-container {
    flex-wrap: wrap;
  }
  .b228 {
    font-size: var(--font-size-lg);
  }
  .b229 {
    font-size: var(--font-size-base);
  }
  .b230 {
    font-size: var(--font-size-lg);
  }
  .b231 {
    font-size: var(--font-size-base);
  }
  .b232 {
    font-size: var(--font-size-lg);
  }
  .b233 {
    font-size: var(--font-size-base);
  }
  .b234 {
    font-size: var(--font-size-lg);
  }
  .b235 {
    font-size: var(--font-size-base);
  }
}
