.frame-child {
  height: 0.313rem;
  width: 0.313rem;
  position: relative;
  border-radius: 50%;
}

.frame-item {
  height: 0.313rem;
  width: 0.313rem;
  position: relative;
  border-radius: 50%;
}

.frame-inner {
  height: 0.313rem;
  width: 0.313rem;
  position: relative;
  border-radius: 50%;
}

.frame-div {
  width: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs-5);
  box-sizing: border-box;
}

.nav,
.weeklist {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.nav,
.weeklist {
  overflow: hidden;
}

.nav,
.weeklist {
  flex-direction: row;
  max-width: 100%;
}

.weeklist {
  margin: 0;
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.nav {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--point-bg-blue);
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}

.cource-name {
  align-self: stretch;
  position: relative;
}

.division3 {
  height: 2.5rem;
  position: relative;
  display: inline-block;
}

.cource-info,
.div14 {
  display: flex;
  justify-content: center;
}

.cource-info {
  height: 2.5rem;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.div14 {
  align-self: stretch;
  position: relative;
  align-items: flex-end;
}

.vector-icon7 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}

.bxsdown-arrow,
.menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bxsdown-arrow {
  height: 1.125rem;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}


.menu {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--point-yellow);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xl);
  gap: var(--gap-3xs);
}

.menu-parent,
.nav2,
.upload1 {
  overflow: hidden;
  flex-direction: row;
}

.upload1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--point-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-3xs);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.menu-parent,
.nav2 {
  gap: var(--gap-xl);
}

.menu-parent {
  height: 2.188rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
}

.nav2 {
  align-self: stretch;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-11xl);
}

.h23 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.decrypter {
  width: 10.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.data-splitter:hover,
.frame-button:hover .wrapper11:hover {
  background-color: var(--color-steelblue);
}

.frame {
  width: 10.938rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}

.bar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-10xs);
}

.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-sm);
  background-color: var(--boder-blue);
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}

.bar3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}

.data-aggregator {
  width: 1.813rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.813rem;
}

.bar4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}

.input-filter {
  align-self: stretch;
  display: flex;
}

.input-filter {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.data-splitter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-sm);
  background-color: var(--boder-blue);
  height: 1.875rem;
  width: 4.063rem;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.b40 {
  align-self: stretch;
  height: 1.188rem;
  position: relative;
  display: flex;
  align-items: center;
}

.b41 {
  height: 1.188rem;
  width: 1.813rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}

.b42 {
  align-self: stretch;
  display: flex;
}

.b42 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.b43 {
  align-self: stretch;
  height: 1.188rem;
  position: relative;
  display: flex;
  align-items: center;
}

.b44 {
  height: 1.188rem;
  width: 1.813rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}

.b45 {
  align-self: stretch;
  display: flex;
}

.b45 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.b46 {
  align-self: stretch;
  height: 1.188rem;
  position: relative;
  display: flex;
  align-items: center;
}


.b47 {
  height: 1.188rem;
  width: 1.813rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}


.b48 {
  align-self: stretch;
  display: flex;
}

.b48 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.b49 {
  align-self: stretch;
  height: 1.188rem;
  position: relative;
  display: flex;
  align-items: center;
}

.b50,
.bar8 {
  display: flex;
}

.b50 {
  height: 1.188rem;
  width: 1.813rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.bar8 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}

.vcontent,
.video {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vcontent,
.video {
  flex-direction: column;
  box-sizing: border-box;
}

.vcontent {
  align-self: stretch;
  height: 20.313rem;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 0 0 var(--padding-36xl);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}

.video {
  flex: 1;
  border-radius: var(--br-8xs);
  padding: var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}

.h24 {
  margin: 0;
  width: 3rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
}

.submit-group {
  width: 13.938rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.submit-container {
  width: 13.938rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.assignments,
.disassembler,
.list {
  display: flex;
  justify-content: flex-start;
}

.list {
  align-self: stretch;
  height: 20.313rem;
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}

.assignments,
.disassembler {
  align-items: flex-start;
}

.assignments {
  flex: 1;
  border-radius: var(--br-8xs);
  flex-direction: column;
  max-width: 100%;
}

.disassembler {
  width: 66.875rem;
  flex-direction: row;
  gap: var(--gap-11xl);
}

.h25 {
  margin: 0;
  width: 3rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header2,
.scroll2 {
  align-self: stretch;
  justify-content: flex-start;
}

.header2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl);
}

.scroll2 {
  overflow-y: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-height: 20.313rem;
}

.files,
.h26,
.scroll2 {
  display: flex;
  align-items: center;
}

.files {
  flex: 1;
  border-radius: var(--br-8xs);
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}

.h26 {
  margin: 0;
  width: 3rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  justify-content: center;
}

.b65,
.header3 {
  align-self: stretch;
}

.header3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
}

.b65 {
  flex: 1;
  position: relative;
}

.b66,
.submit7 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit7 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--point-green);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-mini);
  box-sizing: border-box;
  white-space: nowrap;
}

.b66 {
  height: 1.188rem;
  width: 3.5rem;
  position: relative;
  font-size: var(--font-size-sm);
  text-align: center;
}

.info3 {
  width: 10.375rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.b67,
.info3,
.name {
  display: flex;
  align-items: center;
}

.b67 {
  align-self: stretch;
  flex: 1;
  position: relative;
}

.name {
  height: 1.188rem;
  width: 17.875rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}

.n7 {
  height: 1rem;
  width: 3rem;
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
}

.b68,
.quizitem {
  align-self: stretch;
}

.quizitem {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-5) var(--padding-3xs);
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}

.b68 {
  flex: 1;
  position: relative;
}

.b69,
.submit8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit8 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--point-green);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-mini);
  box-sizing: border-box;
  white-space: nowrap;
}

.b69 {
  height: 1.188rem;
  width: 3.5rem;
  position: relative;
  font-size: var(--font-size-sm);
  text-align: center;
}

.info4 {
  width: 10.375rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.b70,
.info4,
.name1 {
  display: flex;
  align-items: center;
}

.b70 {
  align-self: stretch;
  flex: 1;
  position: relative;
}

.name1 {
  height: 1.188rem;
  width: 17.875rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}

.n8 {
  height: 1rem;
  width: 3rem;
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
}

.qcontent,
.quizitem1 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.quizitem1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini-5) var(--padding-3xs);
  gap: var(--gap-0);
  row-gap: 20px;
}

.qcontent {
  height: 20.313rem;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}

.bottom,
.quiz {
  overflow: hidden;
  display: flex;
}

.quiz {
  flex: 1;
  border-radius: var(--br-8xs);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

.bottom {
  width: 66.875rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
}

.assembler,
.content {
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
}

.assembler {
  width: 69.375rem;
  border-radius: var(--br-3xs);
  background-color: var(--point-bg-blue);
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
}

.content {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.content,
.course1,
.serializer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.serializer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  max-width: calc(100% - 270px);
}

.course1 {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  letter-spacing: normal;
}

@media screen and (max-width: 1025px) {
  .weeklist {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 975px) {

  .cource-name,
  .division3 {
    font-size: var(--font-size-5xl);
  }

  .serializer {
    max-width: 100%;
  }

  .course1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 725px) {
  .nav {
    gap: 3.125rem 1.563rem;
  }

  .nav2 {
    flex-wrap: wrap;
  }

  .vcontent {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }

  .quizitem {
    flex-wrap: wrap;
  }

  .qcontent {
    height: auto;
  }
}

@media screen and (max-width: 450px) {


  .cource-name,
  .division3 {
    font-size: var(--font-size-lg);
  }

  .div14 {
    font-size: var(--font-size-base);
  }

  .h23,
  .h24 {
    font-size: var(--font-size-lgi);
  }

  .list {
    height: auto;
  }

  .h25,
  .h26 {
    font-size: var(--font-size-lgi);
  }
}