.bg {
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--padding-xl);
}

.courseTitle {
  display: flex;
  gap: var(--gap-xl);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.625rem));
  grid-template-rows: repeat(2, 50%);
  gap: var(--gap-xl);
  width: 100%;
  flex-grow: 1;
  background-color: var(--point-bg-blue);
  padding: var(--padding-xl);
  border-radius: 10px;
  box-sizing: border-box;
  height: 1%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xl);
}

.weekList {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xl);
  background-color: var(--point-bg-blue);
  padding: var(--padding-base);
  border-radius: 10px;
  flex-wrap: wrap;
}

.weekBtn {
  width: 35px;
  display: flex !important;
  justify-content: center;
  transition: none !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: white !important;
  color: black !important
}

.topRight {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: end;
}

.addBtn {
  height: fit-content !important;
  background-color: var(--point-blue) !important;
  border: none !important;
}

.hidden {
  display: none !important;
}

.listContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.name h2 {
  margin: 0;
  font-size: var(--font-size-11xl);
  height: 70px;
}

.list {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blue {
  background-color: var(--boder-blue) !important;
}

.cureentWeek {
  background-color: #9e7bff !important;
  color: white !important;
}

.titles {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: var(--gap-mini);
}

.date {
  display: flex;
  gap: var(--gap-7xs);
  color: var(--bs-orange);
  align-items: center;
}

.todayWeek,
.todayDate {
  font-weight: bold !important;
}

.thisWeek {
  color: var(--bs-primary);
}

.today {
  box-shadow: 0 0 0 3px var(--bs-warning);
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


@media (max-width: 1600px) {
  .weekList {
    width: 500px;
  }
}