.ppt,
.ppt-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ppt {
  width: 1.688rem;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-darkslategray-200);
  text-align: center;
  min-width: 1.688rem;
}
.ppt-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-lgi);
  background-color: var(--point-yellow);
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
}
.ppt-wrapper:hover {
  background-color: var(--color-darkgoldenrod);
}
.b184 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 5.25rem;
}
.frame-container {
  width: 10.625rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.fileitem,
.frame-container,
.mb {
  display: flex;
  align-items: center;
}
.mb {
  width: 3.188rem;
  position: relative;
  justify-content: center;
  min-width: 3.188rem;
}
.fileitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 450px) {
  .fileitem {
    flex-wrap: wrap;
    justify-content: center;
  }
}
