h4 {
  margin: 0;
  font-size: var(--font-size-base);
}

.list-item-cjw {
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}

.flex-cjw {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.first {
  width: 65px;
  height: 30px;
  background-color: var(--boder-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.fourfh {
  min-width: fit-content;
}

.list-item-cjw:hover {
  cursor:pointer;
  background-color: #999999;
}