.videoitem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    overflow-x: auto;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-3xs);
    gap: var(--gap-3xs);
    flex-shrink: 0;
}

.observer {
    cursor: pointer;
    border: 0;
    padding: var(--padding-7xs-5) var(--padding-sm);
    background-color: var(--boder-blue);
    border-radius: var(--br-3xs);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.observer:hover {
    background-color: var(--color-steelblue);
}

.videoLength {
    width: 2.313rem;
    position: relative;
    font-size: var(--font-size-sm);
    display: flex;
    font-family: var(--font-roboto);
    color: var(--color-darkslategray-200);
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 2.313rem;
    white-space: nowrap;
}

.wrapper {
    width: 10.938rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs-5) 0 0;
    box-sizing: border-box;
}

.videoTitle {
    align-self: stretch;
    position: relative;
}

.b28 {
    width: 1.813rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.813rem;
}

.bar {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-2xs);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bar-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 15rem;
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    text-align: center;
}

.bar-inner {
    flex: 1;
    background-color: var(--color-lightgray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-31xl);
}

.gauge {
    border-radius: var(--br-31xl);
    height: 1.25rem;
    width: 6.25rem;
    position: relative;
    background-color: var(--boder-blue);
}