.week-item {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 2.5rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-8xs) var(--padding-sm);
    gap: var(--gap-5xs);
    color: var(--point-blue);

}

.search-engine {
    align-self: stretch;
    height: 1.688rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0.75rem;
}

.generator {
    height: 0.313rem;
    width: 0.313rem;
    position: relative;
    border-radius: 50%;
  }
  
.generator-wrapper{
    width: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs) 0 var(--padding-9xs-5);
    box-sizing: border-box;
  }
@media screen and (max-width: 450px) {

    .search-engine {
        font-size: var(--font-size-base);
    }


}