.title19 {
  margin: 0;
  height: 4.188rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 6.563rem;
}
.div188 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 1.875rem;
}
.custom-property-icon {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow2,
.menu2 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.bxsdown-arrow2 {
  height: 1.125rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
}
.menu2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-5) var(--padding-xl);
  background-color: var(--point-bg-blue);
  width: 6.063rem;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.search-input {
  height: 2.563rem;
  flex: 1;
  position: relative;
}
.border-radius-icon {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.icon,
.search {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.icon {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}
.search {
  flex: 1;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) var(--padding-4xs);
  gap: var(--gap-10xs);
  min-width: 10.125rem;
}
.b193 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: 5rem;
}
.add-qna {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-smi);
  background-color: var(--point-blue);
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.add-qna:hover {
  background-color: var(--color-cornflowerblue-300);
}
.add-qna,
.align-middle,
.spacing,
.top4 {
  display: flex;
  align-items: flex-start;
}
.spacing {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.align-middle,
.top4 {
  box-sizing: border-box;
  max-width: 100%;
}
.align-middle {
  width: 30.438rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
}
.top4 {
  align-self: stretch;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xs-5) var(--padding-9xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1025px) {
  .title19 {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 750px) {
  .spacing,
  .top4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .title19 {
    font-size: var(--font-size-11xl);
  }
  .b193 {
    font-size: var(--font-size-base);
  }
}
