
.num {
  align-self: stretch;
  overflow: hidden;
}

.num {
  width: 2.5rem;
  flex-shrink: 0;
}

.div15 {
  position: relative;
  display: inline-block;
  min-width: 2.25rem;
}

.status {
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}

.div16 {
  position: relative;
  display: inline-block;
  min-width: 3.375rem;
}

.secret {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-10xs);
}

.div17 {
  position: relative;
  display: inline-block;
  min-width: 2.25rem;
}

.title3 {
  width: 31.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
}

.div18 {
  position: relative;
  display: inline-block;
  min-width: 3.375rem;
}

.writer {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-4xl);
}

.div19 {
  position: relative;
  display: inline-block;
  min-width: 3.375rem;
}

.upload-date {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-14xl);
}

.div20 {
  position: relative;
  display: inline-block;
  min-width: 3.375rem;
}

.col-name,
.view {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.view {
  overflow: hidden;
  padding: var(--padding-smi);
}

.col-name {
  align-self: stretch;
  height: 4.375rem;
  border-radius: 0 var(--br-3xs) 0 0;
  background-color: var(--point-bg-blue);
  overflow-x: auto;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}

.content1,
.list1,
.table {
  flex-direction: column;
  max-width: 100%;
}

.table {
  width: 69.375rem;
  height: 42.125rem;
  background-color: var(--bg-blue);
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content1,
.list1 {
  align-self: stretch;
  overflow: hidden;
}

.list1 {
  border-radius: var(--br-3xs);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-xl);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}

.align-center,
.content1,
.qalist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.align-center {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  max-width: calc(100% - 270px);
}

.qalist {
  width: 100%;
  position: relative;
  background: linear-gradient(243.18deg, #b1b2ff, #b5eaea);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  letter-spacing: normal;
}

@media screen and (max-width: 1025px) {
  .content1 {
    padding-top: var(--padding-13xl);
    box-sizing: border-box;
  }

  .align-center {
    max-width: 100%;
  }

  .qalist {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 750px) {
  .tab {
    padding-right: 10.313rem;
    box-sizing: border-box;
  }

  .table {
    height: auto;
  }

  .content1 {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .tab {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}