.bg {
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xl);
}

.title {
  font-size: var(--font-size-21xl);
  font-weight: bold;
}

.right {
  display: flex;
  gap: var(--gap-xl);
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
}

.select {
  width: fit-content !important;
  height: 40px !important;
  border-radius: 5px 0 0 5px !important;
  border: none !important;
  background-color: var(--point-bg-blue) !important;
  border: 1px solid var(--point-bg-blue) !important;
}

.searchBox {
  display: flex;
  border: 1px solid var(--point-bg-blue);
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  padding: var(--padding-7xs);
  align-items: center;
}

.search {
  border: none !important;
}

.addBtn {
  height: 40px !important;
  background-color: var(--point-blue) !important;
  border: none !important;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabBtns {
  display: flex;
  border-radius: 5px 5px 0 0;
}

.tabItem {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue3);
  border: none;
  color: black;
  padding: var(--padding-mini) var(--padding-xl);
}

.currentFilter {
  background-color: var(--boder-blue);
}

.colName{
  display: flex;
  height: 50px;
  background-color: var(--point-bg-blue);
  align-items: center;
  border-radius: 0 5px 0 0;
}

.colNum, .colSecret, .colView, .colWriter{
  width: 80px;
  text-align: center;
}

.colAnswered, .colDate{
  width: 130px;
  text-align: center;
}

.colTitle{
  text-align: center;
  flex-grow: 1;
}

.list{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-blue);
  border-radius: 0 0 5px 5px;
  flex-grow: 1;
  overflow-y: auto;
}