.div192 {
  align-self: stretch;
  height: 6.25rem;
  position: relative;
  display: flex;
  align-items: center;
}
.num4 {
  width: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.b195,
.num4,
.status20 {
  display: flex;
  align-items: center;
}
.b195 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.status20 {
  height: 2.75rem;
  width: 6.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--warning-red);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base-5);
  box-sizing: border-box;
  white-space: nowrap;
  font-family: var(--font-roboto);
}
.icround-lock-icon3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.secret3 {
  height: 6.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-lg);
  box-sizing: border-box;
}
.p115,
.p116,
.p117 {
  margin: 0;
}
.comment4,
.title-text2 {
  position: relative;
  display: flex;
  align-items: center;
}
.title-text2 {
  height: 4.5rem;
  flex: 1;
  min-width: 3.938rem;
}
.comment4 {
  height: 1.5rem;
  width: 1.313rem;
  color: var(--color-dimgray-100);
}
.title21 {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-313xl) var(--padding-sm)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 7.375rem;
  max-width: 100%;
}
.div193,
.title21,
.writer4 {
  display: flex;
  align-items: center;
}
.div193 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.writer4 {
  height: 6.25rem;
  width: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-sm);
  box-sizing: border-box;
}
.div194 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div194,
.div195,
.upload-date4 {
  display: flex;
  align-items: center;
}
.upload-date4 {
  height: 6.25rem;
  width: 7.5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-smi-5);
  box-sizing: border-box;
}
.div195 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.view6 {
  height: 6.25rem;
  width: 5rem;
  flex-shrink: 0;
  padding: var(--padding-19xl) var(--padding-mini);
}
.line11,
.qna-row1,
.view6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.line11 {
  flex: 1;
  border-bottom: 1px solid var(--color-dimgray-100);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.qna-row1 {
  width: 69.375rem;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 750px) {
  .title21 {
    flex-wrap: wrap;
  }
}
