.comment-area,
.num3 {
  display: flex;
  align-items: center;
}
.comment-area {
  height: 6.25rem;
  position: relative;
  min-width: 1.875rem;
}
.num3 {
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-8xs);
}
.b194 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  min-width: 2.25rem;
}
.status19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-18xl);
  background-color: var(--point-green);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.status19:hover {
  background-color: var(--color-seagreen);
}
.icround-lock-icon2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.secret2 {
  height: 6.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-lg);
  box-sizing: border-box;
}
.p112,
.p113,
.p114 {
  margin: 0;
}
.comment3,
.title-text1 {
  position: relative;
}
.comment3 {
  color: var(--color-dimgray-100);
  display: inline-block;
  min-width: 1.313rem;
}
.title20 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-313xl) var(--padding-sm)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.div189 {
  position: relative;
  display: inline-block;
  min-width: 4.5rem;
}
.writer3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-sm);
}
.div190 {
  position: relative;
  display: inline-block;
  min-width: 5.938rem;
}
.upload-date3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-smi-5);
}
.div191 {
  position: relative;
  display: inline-block;
  min-width: 3.125rem;
}
.line10,
.qna-row,
.view5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view5 {
  padding: var(--padding-19xl) var(--padding-mini);
}
.line10,
.qna-row {
  box-sizing: border-box;
}
.line10 {
  border-bottom: 1px solid var(--color-dimgray-100);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.qna-row {
  width: 69.375rem;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
