.input-filter-icon {
  width: 9.375rem;
  height: 3.25rem;
  position: relative;
  object-fit: contain;
}
.vector-icon33 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
}
.bitcoin-iconshome-outline {
  height: 1.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-5);
  box-sizing: border-box;
  width: 1.875rem;
}
.home {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.navitem {
  align-self: stretch;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.vector-icon34 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  min-height: 1.875rem;
}
.ai-chat {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.main-nav,
.navitem1 {
  overflow: hidden;
  align-items: center;
}
.navitem1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-mini);
}
.main-nav {
  width: 14.688rem;
  height: 7.5rem;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.atoms-mouth,
.header7,
.main-nav,
.text16 {
  display: flex;
  justify-content: center;
}
.text16 {
  width: 2rem;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  min-width: 2rem;
}
.atoms-mouth,
.header7 {
  flex-direction: row;
}
.atoms-mouth {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-5xs);
  background-color: var(--point-blue);
  border-radius: var(--br-9xs);
  align-items: center;
}
.atoms-mouth:hover {
  background-color: var(--color-cornflowerblue-300);
}
.header7 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-9xs);
}
.text17 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
  color: var(--color-cornflowerblue-200);
}
.text18 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey1 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
}
.text19 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey2 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
}
.text20 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey3 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
}
.text21 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey4 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
}
.text22 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey5 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
}
.text23 {
  position: relative;
  display: inline-block;
  min-width: 1rem;
}
.atoms-week-dey6 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs-5) var(--padding-9xs);
  color: var(--color-cornflowerblue-200);
}
.atoms-week-dey6,
.line1,
.text24 {
  display: flex;
  align-items: center;
}
.line1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-6xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-malgun-gothic);
}
.text24 {
  width: 0.813rem;
  position: relative;
  justify-content: center;
  min-width: 0.813rem;
}
.atoms-dey-number {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-7xs-5);
  color: var(--color-cornflowerblue-100);
}
.atoms-dey-number,
.atoms-dey-number1,
.text25 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text25 {
  width: 0.813rem;
  position: relative;
  min-width: 0.813rem;
}
.atoms-dey-number1 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-7xs-5);
}
.text26 {
  width: 0.813rem;
  position: relative;
  min-width: 0.813rem;
}
.atoms-dey-number2,
.text26,
.text27 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number2 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-7xs-5);
}
.text27 {
  width: 0.813rem;
  position: relative;
  min-width: 0.813rem;
}
.atoms-dey-number3 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-7xs-5);
}
.atoms-dey-number3,
.atoms-dey-number4,
.text28 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text28 {
  width: 0.813rem;
  position: relative;
  min-width: 0.813rem;
}
.atoms-dey-number4 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-7xs-5);
}
.text29 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number5,
.text29,
.text30 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number5 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.text30 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number6 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
  font-size: var(--font-size-sm);
  color: var(--point-blue);
  font-family: var(--font-roboto);
}
.atoms-dey-number6,
.line2,
.text31 {
  display: flex;
  align-items: center;
}
.line2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-6xs);
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray-200);
  font-family: var(--font-malgun-gothic);
}
.text31 {
  width: 0.563rem;
  position: relative;
  justify-content: center;
  min-width: 0.563rem;
}
.atoms-dey-number7 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
  color: var(--point-blue);
}
.atoms-dey-number7,
.atoms-dey-number8,
.text32 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text32 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number8 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
}
.text33 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number9,
.text33,
.text34 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number9 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
}
.text34 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number10 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
}
.atoms-dey-number10,
.atoms-dey-number11,
.text35 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text35 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number11 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
}
.text36 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number12,
.text36,
.text37 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number12 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
}
.text37 {
  width: 0.563rem;
  position: relative;
  min-width: 0.563rem;
}
.atoms-dey-number13 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-5xs-5);
  color: var(--point-blue);
}
.atoms-dey-number13,
.line3,
.text38 {
  display: flex;
  align-items: center;
}
.line3 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-6xs);
}
.text38 {
  width: 1.063rem;
  position: relative;
  justify-content: center;
  min-width: 1.063rem;
}
.atoms-dey-number14 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--point-blue);
}
.atoms-dey-number14,
.atoms-dey-number15,
.text39 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text39 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number15 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text40 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number16,
.text40,
.text41 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number16 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text41 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number17 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.atoms-dey-number17,
.atoms-dey-number18,
.text42 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text42 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number18 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text43 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number19,
.text43,
.text44 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number19 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text44 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number20 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--point-blue);
}
.atoms-dey-number20,
.line4,
.text45 {
  display: flex;
  align-items: center;
}
.line4 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-6xs);
}
.text45 {
  width: 1.063rem;
  position: relative;
  justify-content: center;
  min-width: 1.063rem;
}
.atoms-dey-number21 {
  border-radius: var(--br-9xs);
  background-color: var(--point-blue);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--color-white);
}
.atoms-dey-number21,
.atoms-dey-number22,
.text46 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text46 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number22 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text47 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number23,
.text47,
.text48 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number23 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text48 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number24 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.atoms-dey-number24,
.atoms-dey-number25,
.text49 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text49 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number25 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text50 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number26,
.text50,
.text51 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number26 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text51 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number27 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--point-blue);
}
.atoms-dey-number27,
.line5,
.text52 {
  display: flex;
  align-items: center;
}
.line5 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-6xs);
}
.text52 {
  width: 1.063rem;
  position: relative;
  justify-content: center;
  min-width: 1.063rem;
}
.atoms-dey-number28 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--point-blue);
}
.atoms-dey-number28,
.atoms-dey-number29,
.text53 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text53 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number29 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text54 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number30,
.text54,
.text55 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number30 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text55 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number31 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.atoms-dey-number31,
.atoms-dey-number32,
.text56 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text56 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number32 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text57 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number33,
.text57,
.text58 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number33 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
}
.text58 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number34,
.line6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.atoms-dey-number34 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  color: var(--point-blue);
}
.line6 {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  gap: var(--gap-6xs);
}
.atoms-dey-number35,
.text59 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text59 {
  width: 1.063rem;
  position: relative;
  min-width: 1.063rem;
}
.atoms-dey-number35 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-9xs-5);
  font-size: var(--font-size-sm);
  color: var(--point-blue);
  font-family: var(--font-roboto);
}
.text60 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number36,
.text60,
.text61 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number36 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
}
.text61 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number37 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
}
.atoms-dey-number37,
.atoms-dey-number38,
.text62 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text62 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number38 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
}
.text63 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number39,
.text63,
.text64 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.atoms-dey-number39 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
}
.text64 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number40 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
}
.atoms-dey-number40,
.atoms-dey-number41,
.text65 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text65 {
  width: 0.438rem;
  position: relative;
  min-width: 0.438rem;
}
.atoms-dey-number41 {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-8xs-5) var(--padding-4xs-5);
  color: var(--color-cornflowerblue-100);
}
.grid,
.line7 {
  overflow: hidden;
  justify-content: space-between;
}
.line7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray-200);
  font-family: var(--font-malgun-gothic);
}
.grid {
  margin: 0;
  flex: 1;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.calendar,
.content12,
.grid,
.month-2024-03-3 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.month-2024-03-3 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.calendar,
.content12 {
  overflow: hidden;
  box-sizing: border-box;
}
.calendar {
  height: 19.375rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
}
.content12 {
  height: 55.088rem;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-31xl) 0;
}
.collepse-btn-icon {
  width: 3.731rem;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.div157 {
  height: 1.688rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.log-out {
  width: 1.313rem;
  background-color: var(--color-darkgray-100);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.vector-icon35 {
  height: 1.288rem;
  width: 1.288rem;
  position: relative;
}
.phsquare-half-fill {
  height: 1.913rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) 0 var(--padding-8xs) var(--padding-xl);
  box-sizing: border-box;
}
.bottom5,
.sidebars {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.bottom5 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xs);
}
.sidebars {
  height: 100%;
  width: 16.875rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-31xl) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 975px) {
  .sidebars {
    display: none;
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .content12 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .sidebars {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ai-chat,
  .div157,
  .home,
  .text16 {
    font-size: var(--font-size-base);
  }
}
