.sidebars {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-mini);
  width: fit-content;
}

.logo {
  padding: var(--padding-xl);
  padding-top: var(--padding-31xl);
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.sidebarLogo {
  width: 150px;
}

.sidebarContainer {
  padding: var(--padding-xl);
  padding-right: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-6xl);
}

.navBtns {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6xl);
  align-items: center;
  padding: var(--padding-xl);
  border-radius: 10px;
  width: 230px;
}

.sidebarNavBtn {
  display: flex !important;
  align-items: center;
  border: none !important;
  /* background-color: var(--point-blue) !important; */
  background: none !important;
  width: 100%;
}

.linkBtn {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: var(--gap-mini);
  color: black;
}
