.sidebars{
  height: 100%;
}

.colleseBtn {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: end;
}

.colleseBtnCollepsed{
  position: relative;
  top: 50%;
  display: flex;
  justify-content: end;
}

.colleseBtnRight {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px 0 0 10px;
  width: 30px;
  height: 50px;
}

.colleseBtnRight:hover {
  background-color: #ccc;
}

.fadeIn {
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

