.b98,
.name-placeholder {
  position: relative;
  display: flex;
  align-items: center;
}
.b98 {
  width: 6rem;
}
.name-placeholder {
  height: 1.688rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 6.875rem;
}
.date4 {
  width: 13.419rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 8.75rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b99,
.date-submitted {
  position: relative;
  display: flex;
  align-items: center;
}
.b99 {
  width: 6rem;
}
.date-submitted {
  height: 1.688rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 6.875rem;
}
.date5 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 8.75rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b100,
.b101 {
  position: relative;
}
.b100 {
  display: inline-block;
  min-width: 2.75rem;
}
.b101 {
  width: 6.875rem;
  height: 2.75rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  flex-shrink: 0;
}
.date-group,
.date-info3,
.date6 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: f6aba90;
}
.date6 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  min-width: 8.75rem;
  z-index: 1;
  margin-left: -0.006rem;
}
.date-group,
.date-info3 {
  flex-direction: row;
}
.date-group {
  width: 26.831rem;
}
.date-info3 {
  align-self: stretch;
  overflow: hidden;
  flex-wrap: wrap;
}
.b102,
.b103 {
  position: relative;
  display: flex;
  align-items: center;
}
.b102 {
  width: 6rem;
}
.b103 {
  align-self: stretch;
  height: 1.688rem;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.date7 {
  width: 13.419rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.b104,
.b105 {
  position: relative;
}
.b104 {
  display: inline-block;
  min-width: 2.75rem;
}
.b105 {
  align-self: stretch;
  height: 1.688rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
}
.date8,
.submit-info2 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.date8 {
  width: 13.419rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.submit-info2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  debug_commit: f6aba90;
}
.b106 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}
.p59,
.p60,
.p61,
.p62,
.p63,
.p64,
.p65,
.p66,
.p67,
.p68 {
  margin: 0;
}
.b107 {
  height: 13.688rem;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.469rem;
  display: inline-block;
  color: var(--color-black);
  flex-shrink: 0;
}
.b107,
.parent4,
.title9 {
  align-self: stretch;
}
.parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.title9 {
  position: relative;
}
.title-container {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
}
.b108 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.top2,
.upload3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.upload3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--point-blue);
  width: 7.313rem;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.upload3:hover {
  background-color: var(--color-cornflowerblue-300);
}
.top2 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.l8,
.txt9 {
  position: relative;
}
.l8 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt9 {
  display: inline-block;
  min-width: 8rem;
}
.file-item8,
.l-parent4 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent4 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon16 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.file-list9,
.heroicons-outlinex10 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heroicons-outlinex10 {
  height: 1.563rem;
  align-items: center;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list9 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l9,
.txt10 {
  position: relative;
}
.l9 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt10 {
  display: inline-block;
  min-width: 8rem;
}
.file-item9,
.l-parent5 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent5 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon17 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.heroicons-outlinex11 {
  height: 1.563rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list10,
.heroicons-outlinex11,
.l10 {
  box-sizing: border-box;
  overflow: hidden;
}
.file-list10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l10 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  flex-shrink: 0;
}
.l10,
.txt11 {
  position: relative;
}
.file-item10,
.l-parent6 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent6 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon18 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.heroicons-outlinex12 {
  height: 1.563rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list11,
.heroicons-outlinex12,
.l11 {
  box-sizing: border-box;
  overflow: hidden;
}
.file-list11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l11 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  flex-shrink: 0;
}
.l11,
.txt12 {
  position: relative;
}
.file-item11,
.l-parent7 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent7 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon19 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.heroicons-outlinex13 {
  height: 1.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 1.563rem;
}
.file-list12,
.upload-button {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.file-list12 {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.upload-button {
  flex-direction: column;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
.b109 {
  width: 4.125rem;
  position: relative;
  display: inline-block;
}
.b109,
.div68,
.title10 {
  align-self: stretch;
}
.title10 {
  height: 2.813rem;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.div68 {
  flex: 1;
  position: relative;
}
.commentowner5 {
  height: 2.938rem;
  width: 5.75rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.div69 {
  height: 1.313rem;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  min-width: 4.813rem;
}
.comment1,
.commentitem5,
.commentlist1,
.scroll6 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.commentitem5 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-300);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs-5) var(--padding-405xl) var(--padding-11xs-5) 0;
  gap: var(--gap-3xs);
}
.comment1,
.commentlist1,
.scroll6 {
  flex-direction: column;
}
.commentlist1 {
  overflow: hidden;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-malgun-gothic);
}
.comment1,
.scroll6 {
  flex-shrink: 0;
}
.comment1 {
  overflow: hidden;
  align-items: center;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
}
.scroll6 {
  height: 40.563rem;
  overflow-y: auto;
  align-items: flex-start;
  padding: 0 0 11.75rem;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.answer1,
.text8 {
  font-family: var(--font-malgun-gothic);
}
.answer1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--point-bg-blue);
  align-self: stretch;
  height: 3rem;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-5) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  min-width: 15.625rem;
  cursor: pointer;
}
.text8 {
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.nav-btn10 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.4667;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-btn10:hover,
.nav-btn11:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.text9 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.nav-btn-container,
.nav-btn11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-btn11 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-lgi);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  overflow: hidden;
  white-space: nowrap;
}
.nav-btn11:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}
.nav-btn-container {
  width: 18.75rem;
  gap: var(--gap-3xs);
}
.profassignmentmodal {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  letter-spacing: normal;
}
@media screen and (max-width: 650px) {
  .submit-info2 {
    flex-wrap: wrap;
  }
  .commentitem5 {
    padding-right: var(--padding-193xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 625px) {
  .l-parent4,
  .l-parent5,
  .l-parent6,
  .l-parent7 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .scroll6 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .b98 {
    font-size: var(--font-size-lg);
  }
  .name-placeholder {
    font-size: var(--font-size-base);
  }
  .b99 {
    font-size: var(--font-size-lg);
  }
  .date-submitted {
    font-size: var(--font-size-base);
  }
  .b100 {
    font-size: var(--font-size-lg);
  }
  .b101 {
    font-size: var(--font-size-base);
  }
  .date6 {
    margin-left: 0;
  }
  .date-group {
    flex-wrap: wrap;
  }
  .b102 {
    font-size: var(--font-size-lg);
  }
  .b103 {
    font-size: var(--font-size-base);
  }
  .b104 {
    font-size: var(--font-size-lg);
  }
  .b105 {
    font-size: var(--font-size-base);
  }
  .b106 {
    font-size: var(--font-size-lg);
  }
  .b107 {
    font-size: var(--font-size-base);
  }
  .title9 {
    font-size: var(--font-size-lg);
  }
  .top2 {
    flex-wrap: wrap;
  }
  .txt10,
  .txt11,
  .txt12,
  .txt9 {
    font-size: var(--font-size-base);
  }
  .b109 {
    font-size: var(--font-size-lg);
  }
  .div68 {
    font-size: var(--font-size-base);
  }
  .commentitem5 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .scroll6 {
    padding-bottom: 4.938rem;
    box-sizing: border-box;
  }
  .text8 {
    font-size: var(--font-size-lgi);
  }
  .profassignmentmodal {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
