.loginform {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    font-size: var(--font-size-5xl);
    color: var(--color-gray-300);
    align-self: stretch;
    overflow: hidden;
    display: flex;
}

.userID,
.id1 {
    position: relative;
}

.id,
.input {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.userID,
.userPassword {
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-smi) var(--padding-7xl);
    font-size: var(--font-size-base);
    color: var(--color-black);
    width: 100%;
}

.id {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
}

.id2 {
    position: relative;
}

.input1,
.password {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.input1 {
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-base);
    color: var(--color-black);
}

.saveid {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-8xs);
}

.password1 {
    position: relative;
}

.password {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
}

.idcheck {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-6xs) 0;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}

.div1 {
    position: relative;
}

.sign-in {
    position: relative;
}

.sign-in-wrapper {
    border-radius: var(--br-8xs);
    background-color: #1f1f1f;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lg) 0;
    cursor: pointer;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    align-self: stretch;
    overflow: hidden;
    display: flex;
}