body {
  margin :0;
  padding: 0;
}

@font-face {
  font-family: "paybooc_Bold";
  src: url("./fonts/paybooc_Bold.ttf");
}

@font-face {
  font-family: "paybooc_Medium";
  src: url("./fonts/paybooc_Medium.ttf");
}