.b74 {
  height: 3.313rem;
  width: 13.438rem;
  position: relative;
  display: flex;
  align-items: center;
}
.vector-icon12 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.group,
.heroicons-outlinex5,
.title6 {
  display: flex;
  justify-content: flex-start;
}
.heroicons-outlinex5 {
  height: 1.563rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 1.563rem;
}
.group,
.title6 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-sm) 0 0;
}
.group {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-3xs);
  gap: var(--gap-xl);
}
.b75,
.div53 {
  position: relative;
  display: inline-block;
  min-width: 4.938rem;
}
.div53 {
  flex: 1;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  min-width: 2.313rem;
}
.vector-icon13 {
  width: 0.813rem;
  height: 0.625rem;
  position: relative;
}
.bxsdown-arrow1,
.dropdown-icon {
  display: flex;
  flex-direction: column;
}
.bxsdown-arrow1 {
  height: 1.125rem;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
}
.dropdown-icon {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.menu1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-xl);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.car,
.car-wrapper,
.menu-wrapper,
.menu1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.car,
.car-wrapper {
  flex-direction: row;
}
.car {
  flex: 1;
  gap: var(--gap-3xs);
}
.car-wrapper {
  width: 13.313rem;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.b76,
.div54 {
  position: relative;
}
.b76 {
  width: 6.813rem;
  display: flex;
  align-items: center;
}
.div54 {
  flex: 1;
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-700);
  display: inline-block;
  min-width: 15.313rem;
  max-width: 100%;
}
.file-name {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div55 {
  position: relative;
  display: inline-block;
  min-width: 4rem;
}
.wrapper16 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-8xs);
}
.fileinput,
.navbtn {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.navbtn {
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-malgun-gothic);
}
.fileinput {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.b77,
.div56 {
  position: relative;
}
.b77 {
  width: 8.688rem;
  display: flex;
  align-items: center;
}
.div56 {
  flex: 1;
  font-family: var(--font-malgun-gothic);
  color: var(--color-gray-700);
  display: inline-block;
  min-width: 17.25rem;
  max-width: 100%;
}
.parent1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div57 {
  position: relative;
  display: inline-block;
  min-width: 4rem;
}
.fileinput-inner,
.wrapper17 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.wrapper17 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-10xs) var(--padding-8xs);
}
.fileinput-inner {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-malgun-gothic);
}
.fileinput-parent,
.fileinput1,
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.fileinput-parent,
.frame-group {
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.frame-group {
  padding: 0 0 26.125rem;
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.fileuploadmodal-child {
  align-self: stretch;
  height: 25.188rem;
  position: relative;
  overflow: hidden;
  display: none;
}
.file-inputfile-input {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.nav-btn2 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.6712;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-btn2:hover,
.nav-btn3:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.text2 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: 4.5rem;
}
.nav-btn3 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-16xl);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.nav-btn3:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}
.fileuploadmodal,
.nav-btn-group,
.nav-btn3 {
  display: flex;
  justify-content: flex-start;
}
.nav-btn-group {
  width: 19.063rem;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.fileuploadmodal {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 700px) {
  .frame-group {
    gap: 1.063rem 2.188rem;
    padding-bottom: 17rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div53 {
    font-size: var(--font-size-base);
  }
  .file-inputfile-input,
  .text2 {
    font-size: var(--font-size-lgi);
  }
  .fileuploadmodal {
    gap: 1.063rem 2.188rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
