.b122,
.b123 {
  position: relative;
  display: inline-block;
  min-width: 4.125rem;
}
.icround-lock-icon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent6,
.private-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.private-message {
  height: 1.813rem;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-darkslategray-100);
}
.parent6 {
  width: 37.25rem;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.b124 {
  height: 2.875rem;
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  min-width: 5rem;
}
.info6 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.b125 {
  position: relative;
  display: inline-block;
  min-width: 2.75rem;
}
.p79,
.p80,
.p81,
.p82,
.p83,
.p84,
.p85,
.p86,
.p87,
.p88 {
  margin: 0;
}
.b126 {
  align-self: stretch;
  height: 13.688rem;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.469rem;
  display: inline-block;
  color: var(--color-black);
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.b127,
.title13 {
  position: relative;
}
.title13 {
  width: 6rem;
  display: inline-block;
}
.b127 {
  flex: 1;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.title-group,
.upload5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.upload5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--point-blue);
  width: 7.313rem;
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.upload5:hover {
  background-color: var(--color-cornflowerblue-300);
}
.title-group {
  align-self: stretch;
  border-bottom: 1px solid var(--color-dimgray-100);
  justify-content: space-between;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.l16,
.txt17 {
  position: relative;
}
.l16 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt17 {
  display: inline-block;
  min-width: 8rem;
}
.file-item16,
.file-list18 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.file-list18 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon24 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.file-list17,
.heroicons-outlinex18 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heroicons-outlinex18 {
  height: 1.563rem;
  align-items: center;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list17 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l17,
.txt18 {
  position: relative;
}
.l17 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt18 {
  display: inline-block;
  min-width: 8rem;
}
.file-item17,
.l-parent11 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent11 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon25 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.file-list19,
.heroicons-outlinex19 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heroicons-outlinex19 {
  height: 1.563rem;
  align-items: center;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list19 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l18,
.txt19 {
  position: relative;
}
.l18 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt19 {
  display: inline-block;
  min-width: 8rem;
}
.file-item18,
.l-parent12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent12 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon26 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.file-list20,
.heroicons-outlinex20 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.heroicons-outlinex20 {
  height: 1.563rem;
  align-items: center;
  padding: var(--padding-7xs);
  width: 1.563rem;
}
.file-list20 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.l19,
.txt20 {
  position: relative;
}
.l19 {
  margin: 0;
  height: 0.938rem;
  width: 0.688rem;
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.txt20 {
  display: inline-block;
  min-width: 8rem;
}
.file-item19,
.l-parent13 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 8rem;
  max-width: 100%;
}
.l-parent13 {
  gap: var(--gap-8xs);
  min-width: 24.125rem;
}
.vector-icon27 {
  height: 0.813rem;
  width: 0.813rem;
  position: relative;
}
.heroicons-outlinex21 {
  height: 1.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  width: 1.563rem;
}
.file-list21,
.files1,
.q-a-modal {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.file-list21 {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.files1,
.q-a-modal {
  flex-direction: column;
}
.files1 {
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
.q-a-modal {
  gap: var(--gap-6xl);
}
.text11 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-malgun-gothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 3rem;
}
.nav-btn14 {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-100);
  padding: var(--padding-5xs) var(--padding-28xl);
  background-color: var(--color-white);
  flex: 0.5052;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-btn14:hover,
.nav-btn15:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.text12 {
  width: 6rem;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.nav-btn15 {
  cursor: pointer;
  border: 1px solid var(--point-blue);
  padding: var(--padding-5xs) var(--padding-4xl);
  background-color: var(--point-blue);
  flex: 1;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.nav-btn15:hover {
  background-color: var(--color-cornflowerblue-300);
  border: 1px solid var(--color-cornflowerblue-300);
}
.makeqamodal,
.nav-btn-parent1,
.nav-btn15 {
  display: flex;
  justify-content: flex-start;
}
.nav-btn-parent1 {
  width: 18.75rem;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.makeqamodal {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: 5.313rem;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .file-list18,
  .l-parent11,
  .l-parent12,
  .l-parent13 {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .b122,
  .b123 {
    font-size: var(--font-size-lg);
  }
  .parent6 {
    flex-wrap: wrap;
  }
  .b124 {
    font-size: var(--font-size-base);
  }
  .b125 {
    font-size: var(--font-size-lg);
  }
  .b126 {
    font-size: var(--font-size-base);
  }
  .title13 {
    font-size: var(--font-size-lg);
  }
  .title-group {
    flex-wrap: wrap;
  }
  .txt17,
  .txt18,
  .txt19,
  .txt20 {
    font-size: var(--font-size-base);
  }
  .text11,
  .text12 {
    font-size: var(--font-size-lgi);
  }
  .makeqamodal {
    gap: 2.625rem 5.313rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
