.title, .content{
  border: 1px solid #ccc !important;
  width: 100% !important;
}

.secretBtn{
  border: none !important;
}

.secretBtn > *{
  display: flex;
  gap: var(--gap-8xs);
  align-items: center;
  justify-content: center;
}

.on{
  background-color: var(--point-blue) !important;
}

.off {
  background-color: #aaa !important;
}

