.quiz-name {
  position: relative;
}
.b203,
.cource-name1,
.division5 {
  position: relative;
  display: inline-block;
  min-width: 3.75rem;
}
.b203,
.division5 {
  min-width: 2.5rem;
}
.b203 {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: 3.75rem;
}
.cource-info1,
.quiz-info,
.quiz-quit-btn {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quiz-quit-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  background-color: var(--red);
  border-radius: var(--br-8xs);
  justify-content: center;
}
.quiz-quit-btn:hover {
  background-color: var(--color-indianred-100);
}
.cource-info1,
.quiz-info {
  justify-content: space-between;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
}
.cource-info1 {
  margin: 0;
  width: 17.75rem;
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.quiz-info {
  align-self: stretch;
  padding: var(--padding-11xl) var(--padding-31xl);
  gap: var(--gap-xl);
  color: var(--color-black);
  font-family: var(--font-malgun-gothic);
}
@media screen and (max-width: 700px) {
  .quiz-info {
    flex-wrap: wrap;
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .b203,
  .cource-name1,
  .division5,
  .quiz-name {
    font-size: var(--font-size-base);
  }
}
