/* TopCalendar.css */
#calendarBG {
    display:flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 550px;
    background-color: white;
    background-size:100% 110%; 

}
.calendar {
    width: 600px;
    height: 500px;
    background-color: black;
    margin-top: 25px;
    margin-right: 25px;
}

/* Container */

#Container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    width: 1280px;
    height: 1000px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.myLearning {
    width: 100%;
    height: 620px;
    color: white;
}



.toDo {
    width: 550px;
    height: 500px;
    background-color: blue;
}