@import url("https://fonts.googleapis.com/css2?family=Malgun+Gothic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  font-size: 18;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-malgun-gothic: "Malgun Gothic";
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 1.333rem;
  --font-size-lgi: 1.056rem;
  --font-size-xl: 1.111rem;
  --font-size-base: 0.889rem;
  --font-size-3xl: 1.222rem;
  --font-size-lg: 1rem;
  --font-size-11xl: 1.667rem;
  --font-size-21xl: 2.222rem;
  --font-size-31xl: 2.778rem;
  --font-size-3xs: 0.556rem;
  --font-size-2xs: 0.611rem;
  --font-size-sm: 0.778rem;
  --font-size-xs: 0.667rem;
  --font-size-9xl: 1.556rem;
  --font-size-13xl: 1.778rem;
  --font-size-7xl: 1.444rem;
  --font-size-mid: 0.944rem;

  /* Colors */
  --color-white: #fff;
  --point-blue: #39a7ff;
  --color-cornflowerblue-100: #27a8ff;
  --color-cornflowerblue-200: #17a1fa;
  --color-darkgray-100: #aaa;
  --color-darkgray-200: #999;
  --color-black: #000;
  --color-dimgray-100: #666;
  --color-dimgray-200: #555;
  --point-yellow: #ffbe5b;
  --point-bg-blue: #d5e6fb;
  --color-gray-100: #888;
  --color-gray-200: #777;
  --color-gray-300: #222;
  --color-gray-400: #1f1f1f;
  --color-gray-500: #19191a;
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-gray-700: rgba(0, 0, 0, 0.5);
  --color-gainsboro-100: #ddd;
  --color-gainsboro-200: #dbdbdb;
  --color-darkslategray-100: #444;
  --color-darkslategray-200: #303030;
  --point-green: #72bd92;
  --bg-blue: #eff8ff;
  --blue2: #a7cbf7;
  --blue4: #87c4ff;
  --color-lightblue-100: #bce1ff;
  --blue3: #b4d9f0;
  --point-red: #f3a9a9;
  --warning-red: #f49e9e;
  --color-lightgray-100: #cecece;
  --color-lightgray-200: #ccc;
  --light-green: #a4d0a4;
  --color-lightcoral: #c67474;

  /* Gaps */
  --gap-6xl: 1.389rem;
  --gap-3xs: 0.556rem;
  --gap-0: 0rem;
  --gap-xl: 1.111rem;
  --gap-8xs: 0.278rem;
  --gap-75xl: 5.222rem;
  --gap-28xl: 2.611rem;
  --gap-mini: 0.833rem;
  --gap-16xl: 1.944rem;
  --gap-mid: 0.944rem;
  --gap-6xs: 0.389rem;
  --gap-11xl: 1.667rem;
  --gap-10xs: 0.167rem;
  --gap-5xs: 0.444rem;
  --gap-2xs: 0.611rem;
  --gap-31xl: 2.778rem;
  --gap-2xs-3: 0.572rem;
  --gap-7xs: 0.333rem;
  --gap-3xl: 1.222rem;

  /* Paddings */
  --padding-xl: 1.111rem;
  --padding-31xl: 2.778rem;
  --padding-325xl: 19.111rem;
  --padding-153xl: 9.556rem;
  --padding-5xs: 0.444rem;
  --padding-4xl: 1.278rem;
  --padding-28xl: 2.611rem;
  --padding-32xl: 2.833rem;
  --padding-14xl: 1.833rem;
  --padding-3xs: 0.556rem;
  --padding-16xl: 1.944rem;
  --padding-76xl: 5.278rem;
  --padding-11xl: 1.667rem;
  --padding-7xs: 0.333rem;
  --padding-lgi: 1.056rem;
  --padding-sm-5: 0.75rem;
  --padding-264xl: 15.722rem;
  --padding-101xl: 6.667rem;
  --padding-11xs-5: 0.083rem;
  --padding-396xl: 23.056rem;
  --padding-188xl: 11.5rem;
  --padding-8xs: 0.278rem;
  --padding-29xl: 2.667rem;
  --padding-38xl: 3.167rem;
  --padding-sm: 0.778rem;
  --padding-39xl: 3.222rem;
  --padding-25xl: 2.444rem;
  --padding-5xs-5: 0.417rem;
  --padding-242xl: 14.5rem;
  --padding-91xl: 6.111rem;
  --padding-10xs-5: 0.139rem;
  --padding-6xs: 0.389rem;
  --padding-9xs-5: 0.194rem;
  --padding-169xl: 10.444rem;
  --padding-60xl: 4.389rem;
  --padding-405xl: 23.556rem;
  --padding-193xl: 11.778rem;
  --padding-2xs: 0.611rem;
  --padding-mini: 0.833rem;
  --padding-320xl: 18.833rem;
  --padding-150xl: 9.389rem;
  --padding-107xl-7: 7.039rem;
  --padding-88xl-7: 5.983rem;
  --padding-base-5: 0.917rem;
  --padding-202xl: 12.278rem;
  --padding-75xl-7: 5.261rem;
  --padding-399xl: 23.222rem;
  --padding-253xl: 15.111rem;
  --padding-10xs: 0.167rem;
  --padding-9xs: 0.222rem;
  --padding-11xs: 0.111rem;
  --padding-13xl: 1.778rem;
  --padding-2xl: 1.167rem;
  --padding-19xl: 2.111rem;
  --padding-smi-5: 0.694rem;
  --padding-19xl-3: 2.128rem;
  --padding-lg-2: 1.011rem;
  --padding-19xl-2: 2.122rem;
  --padding-lg-3: 1.017rem;
  --padding-9xl: 1.556rem;
  --padding-18xl: 2.056rem;
  --padding-xs: 0.667rem;
  --padding-smi: 0.722rem;
  --padding-491xl: 28.333rem;
  --padding-108xl: 7.056rem;
  --padding-2xl-5: 1.194rem;
  --padding-26xl: 2.5rem;
  --padding-36xl: 3.056rem;
  --padding-12xl: 1.722rem;
  --padding-4xs: 0.5rem;
  --padding-43xl: 3.444rem;
  --padding-43xl-5: 3.472rem;
  --padding-base: 0.889rem;
  --padding-159xl: 9.889rem;
  --padding-97xl: 6.444rem;
  --padding-56xl: 4.167rem;
  --padding-6xl: 1.389rem;
  --padding-21xl-5: 2.25rem;
  --padding-mid: 0.944rem;
  --padding-38xl-5: 3.194rem;
  --padding-41xl: 3.333rem;
  --padding-313xl: 18.444rem;
  --padding-lg: 1rem;
  --padding-641xl: 36.667rem;
  --padding-146xl: 9.167rem;
  --padding-22xl: 2.278rem;
  --padding-4xs-5: 0.472rem;
  --padding-8xs-5: 0.25rem;
  --padding-5xl: 1.333rem;
  --padding-17xl: 2rem;
  --padding-8xl-5: 1.528rem;
  --padding-xs-5: 0.639rem;
  --padding-23xl: 2.333rem;
  --padding-3xl: 1.222rem;
  --padding-2xs-5: 0.583rem;
  --padding-86xl: 5.833rem;
  --padding-49xl: 3.778rem;
  --padding-6xs-5: 0.361rem;
  --padding-mini-5: 0.806rem;
  --padding-7xl: 1.444rem;
  --padding-7xs-5: 0.306rem;
  --padding-lgi-5: 1.083rem;
  --padding-3xs-5: 0.528rem;
  --padding-81xl: 5.556rem;
  --padding-46xl: 3.611rem;
  --padding-mid-5: 0.972rem;
  --padding-73xl: 5.111rem;
  --padding-20xl: 2.167rem;
  --padding-574xl: 32.944rem;
  --padding-277xl: 16.444rem;
  --padding-545xl: 31.333rem;
  --padding-263xl: 15.667rem;
  --padding-17xl-5: 2.028rem;
  --padding-15xl: 1.889rem;
  --padding-mini-9: 0.828rem;
  --padding-12xs: 0.056rem;
  --padding-base-9: 0.883rem;
  --padding-lg-7: 1.039rem;
  --padding-lg-8: 1.044rem;
  --padding-61xl: 4.444rem;
  --padding-33xl: 2.889rem;
  --padding-96xl: 6.389rem;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-31xl: 50px;
  --br-9xs: 4px;
}
